a {
  background-repeat: repeat-x;
}

b {
  background-repeat: repeat-y;
}

c {
  background-repeat: repeat;
}

d {
  background-repeat: space;
}

e {
  background-repeat: round;
}

f {
  background-repeat: no-repeat;
}

g {
  background-repeat: repeat;
}

h {
  background-repeat: repeat space;
}

i {
  background-repeat: repeat round;
}

j {
  background-repeat: repeat-x;
}

k {
  background-repeat: space repeat;
}

l {
  background-repeat: space;
}

m {
  background-repeat: space round;
}

n {
  background-repeat: space no-repeat;
}

g {
  background-repeat: round repeat;
}

h {
  background-repeat: round space;
}

o {
  background-repeat: round;
}

p {
  background-repeat: round no-repeat;
}

q {
  background-repeat: repeat-y;
}

r {
  background-repeat: no-repeat space;
}

s {
  background-repeat: no-repeat round;
}

t {
  background-repeat: no-repeat;
}
