a {
  background-position: top;
}

c {
  background-position: left top;
}

d {
  background-position: right top;
}

f {
  background-position: top;
}

h {
  background-position: left;
}

i {
  background-position: left top;
}

l {
  background-position: left bottom;
}

m {
  background-position: left;
}

n {
  background-position: left 25%;
}

o {
  background-position: right;
}

p {
  background-position: right top;
}

s {
  background-position: right bottom;
}

t {
  background-position: right;
}

u {
  background-position: right 25%;
}

v {
  background-position: bottom;
}

x {
  background-position: left bottom;
}

y {
  background-position: right bottom;
}

ab {
  background-position: bottom;
}

cb {
  background-position: center;
}

db {
  background-position: top;
}

gb {
  background-position: bottom;
}

hb {
  background-position: center;
}

ib {
  background-position: center 25%;
}

jb {
  background-position: 25%;
}

kb {
  background-position: 25% top;
}

nb {
  background-position: 25% bottom;
}

ob {
  background-position: 25%;
}

pb {
  background-position: 25% 25%;
}
