a {
  border-radius: 1px;
}

b {
  border-radius: 1px 2px;
}

c {
  border-radius: 1px 2px 3px;
}

d {
  border-radius: 1px 2px 3px 4px;
}

e {
  border-radius: 1px 2px 3px 4px / 5px;
}

f {
  border-radius: 1px 2px 3px 4px / 5px 6px;
}

g {
  border-radius: 1px 2px 3px 4px / 5px 6px 7px;
}

h {
  border-radius: 1px 2px 3px 4px / 5px 6px 7px 8px;
}

i {
  border-radius: 1.125px / 5.5px;
}

j {
  border-radius: 1px 2.25px / 5px;
}

k {
  border-radius: 1px 2px 3.5px / 5.5px 6.75px;
}

l {
  border-radius: 0 / 0;
}

m {
  border-radius: 0;
}

n {
  border-radius: 0 / 1px;
}

o {
  border-radius: 1px / 0;
}

/* errors go here */

ea {
  border-radius: -1px 1px 1px 1px / 1px 1px 1px 1px;
}

eb {
  border-radius: 1px -1px 1px 1px / 1px 1px 1px 1px;
}

ec {
  border-radius: 1px 1px -1px 1px / 1px 1px 1px 1px;
}

ed {
  border-radius: 1px 1px 1px -1px / 1px 1px 1px 1px;
}

ee {
  border-radius: 1px 1px 1px 1px / -1px 1px 1px 1px;
}

ef {
  border-radius: 1px 1px 1px 1px / 1px -1px 1px 1px;
}

eg {
  border-radius: 1px 1px 1px 1px / 1px 1px -1px 1px;
}

eh {
  border-radius: 1px 1px 1px 1px / 1px 1px 1px -1px;
}

ei {
  border-radius: /;
}

ej {
  border-radius: ;
}

ek {
  border-radius: 1px /;
}

el {
  border-radius: 1px 2px 3px 4px 5px;
}

em {
  border-radius: 1px 2px / 1px 2px 3px 4px 5px;
}
