a {
  border-bottom-left-radius: 1;
  border-bottom-right-radius: 1;
  border-top-left-radius: 1;
  border-top-right-radius: 1;
}

b {
  border-bottom-left-radius: 2;
  border-bottom-right-radius: 1;
  border-top-left-radius: 1;
  border-top-right-radius: 2;
}

c {
  border-bottom-left-radius: 2;
  border-bottom-right-radius: 3;
  border-top-left-radius: 1;
  border-top-right-radius: 2;
}

d {
  border-bottom-left-radius: 4;
  border-bottom-right-radius: 3;
  border-top-left-radius: 1;
  border-top-right-radius: 2;
}

e {
  border-bottom-left-radius: 4 5;
  border-bottom-right-radius: 3 5;
  border-top-left-radius: 1 5;
  border-top-right-radius: 2 5;
}

f {
  border-bottom-left-radius: 4 6;
  border-bottom-right-radius: 3 5;
  border-top-left-radius: 1 5;
  border-top-right-radius: 2 6;
}

g {
  border-bottom-left-radius: 4 6;
  border-bottom-right-radius: 3 7;
  border-top-left-radius: 1 5;
  border-top-right-radius: 2 6;
}

h {
  border-bottom-left-radius: 4 8;
  border-bottom-right-radius: 3 7;
  border-top-left-radius: 1 5;
  border-top-right-radius: 2 6;
}

i {
  border-bottom-left-radius: none;
  border-bottom-right-radius: none;
  border-top-left-radius: none;
  border-top-right-radius: none;
}

j {
  border-bottom-left-radius: 1.125 5.5;
  border-bottom-right-radius: 1.125 5.5;
  border-top-left-radius: 1.125 5.5;
  border-top-right-radius: 1.125 5.5;
}

k {
  border-bottom-left-radius: 2.25 5;
  border-bottom-right-radius: 1 5;
  border-top-left-radius: 1 5;
  border-top-right-radius: 2.25 5;
}

l {
  border-bottom-left-radius: 2 6.75;
  border-bottom-right-radius: 3.5 5.5;
  border-top-left-radius: 1 5.5;
  border-top-right-radius: 2 6.75;
}

m {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

n {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

o {
  border-bottom-left-radius: 0 1;
  border-bottom-right-radius: 0 1;
  border-top-left-radius: 0 1;
  border-top-right-radius: 0 1;
}

p {
  border-bottom-left-radius: 1 0;
  border-bottom-right-radius: 1 0;
  border-top-left-radius: 1 0;
  border-top-right-radius: 1 0;
}
