a {
  rgba-property: rgb(255,0,0);
}

b {
  rgba-property: rgb(255,0,0);
}

c {
  rgba-property: rgb(255,0,0);
}

d {
  rgba-property: rgb(255,0,0);
}

e {
  rgba-property: rgb(255,0,0);
}

f {
  rgba-property: rgb(255,0,0);
}

g {
  rgba-property: rgb(255,0,0);
}

h {
  rgba-property: rgb(255,0,0);
}

i {
  rgba-property: rgb(255,0,0);
}

j {
  rgba-property: rgb(255,0,0);
}

k {
  rgba-property: rgb(255,0,0);
}

l {
  rgba-property: rgb(255,0,0);
}

m {
  rgba-property: rgb(255,0,0);
}

n {
  rgba-property: rgb(255,0,0);
}

o {
  rgba-property: rgb(255,0,0);
}
