* {
  border-bottom-left-radius: 10;
  border-bottom-right-radius: 10;
  border-bottom-width: 5;
  border-left-width: 5;
  border-right-width: 5;
  border-top-left-radius: 10;
  border-top-right-radius: 10;
  border-top-width: 5;
}
