* {
  border-bottom-left-radius: 10ex;
  border-bottom-right-radius: 10ex;
  border-bottom-width: 5em;
  border-left-width: 5em;
  border-right-width: 5em;
  border-top-left-radius: 10ex;
  border-top-right-radius: 10ex;
  border-top-width: 5em;
}
