.class.class { color: red; }
.class { color: red; }

#name#name#name { color: red; }
#name { color: red; }

:focus:focus { color: red; }
:focus { color: red; }

:nth-child(even):nth-child(even):nth-child(even) { color: red; }
:nth-child(even) { color: red; }

