a:nth-last-child( odd  ) { color: red }
a:nth-child(even   ) { color: red }
b:nth-child(   /**/n) { color: red }
c:nth-child(/**/    n	+
0) { color: red }
d:nth-child(   n +  1) { color: red }
e:nth-child(    /**/n+	2) { color: red }
f:nth-last-child(		n+	10) { color: red }
g:nth-child(


n) { color: red }
h:nth-child(/**/ 	n
-  0) { color: red }
i:nth-child(
/**/ n  -1) { color: red }
j:nth-child(/**/  /**/n - 2) { color: red }
k:nth-last-child(	 n  -
10) { color: red }
l:nth-last-child( /**/0) { color: red }
m:nth-child(
 0n) { color: red }
n:nth-last-child( /**/0/**/n
+
0) { color: red }
o:nth-last-child(   0 n  +	1) { color: red }
p:nth-last-child( 	0n+/**/2) { color: red }
q:nth-last-child(
 0	n  +	10) { color: red }
r:nth-child(  0
n) { color: red }
s:nth-child(
	0 n  -/**/0) { color: red }
t:nth-last-child(  
0
n
-	1) { color: red }
u:nth-last-child(   0	n  -/**/2) { color: red }
v:nth-last-child( 0n  -10) { color: red }
w:nth-last-child(  1) { color: red }
x:nth-child( 
1n) { color: red }
y:nth-child(/**//**/1  n +
0) { color: red }
z:nth-child(
1
n +
1) { color: red }
ab:nth-child(
 1 n	+2) { color: red }
bb:nth-last-child( 	1n  +
10) { color: red }
cb:nth-last-child(1/**/n) { color: red }
db:nth-last-child(	 1  n	-0) { color: red }
eb:nth-child( 1 n-
1) { color: red }
fb:nth-child(/**/
1  n-
2) { color: red }
gb:nth-child(		1n  -10) { color: red }
hb:nth-last-child(/**/  2) { color: red }
ib:nth-child( 2 n) { color: red }
jb:nth-last-child(   2	n +
0) { color: red }
kb:nth-child(/**/	2n+	1) { color: red }
lb:nth-child(/**//**/2/**/n
+  2) { color: red }
mb:nth-last-child(
2
n  +
10) { color: red }
nb:nth-last-child(  
2n) { color: red }
ob:nth-child( 
2	n  -	0) { color: red }
pb:nth-last-child(
 2n/**/-/**/1) { color: red }
qb:nth-child( /**/2	n - 2) { color: red }
rb:nth-last-child(
	2/**/n -	10) { color: red }
sb:nth-child(    10) { color: red }
tb:nth-last-child(
	10n) { color: red }
ub:nth-last-child(
  10/**/n/**/+  0) { color: red }
vb:nth-child(  10
n+/**/1) { color: red }
wb:nth-last-child(	10 n  +
2) { color: red }
xb:nth-child(	 10/**/n  +  10) { color: red }
yb:nth-last-child(	  10
n) { color: red }
zb:nth-last-child( 10  n
-0) { color: red }
ac:nth-last-child(10n/**/-
1) { color: red }
bc:nth-child(	10 n
-/**/2) { color: red }
cc:nth-child(
/**/10	n
-  10) { color: red }
dc:nth-child( even	) { color: red }
ec:nth-last-child(
+
/**/n) { color: red }
fc:nth-child(	+   n+
0) { color: red }
gc:nth-child(/**/+

n  +	1) { color: red }
hc:nth-last-child(/**/+ n	+/**/2) { color: red }
ic:nth-last-child(  +  
n	+10) { color: red }
jc:nth-last-child( +	n) { color: red }
kc:nth-last-child( +/**/  n	- 0) { color: red }
lc:nth-last-child( +n  -	1) { color: red }
mc:nth-child(
+	  n-2) { color: red }
nc:nth-last-child(+  n	-10) { color: red }
oc:nth-child(
+  0) { color: red }
pc:nth-child(  +0	n) { color: red }
qc:nth-last-child(	+/**/0/**/n
+
0) { color: red }
rc:nth-last-child(/**/+	0  n +  1) { color: red }
sc:nth-last-child(
+0  n/**/+2) { color: red }
tc:nth-child(  +	0
n+	10) { color: red }
uc:nth-child(
+ 0
n) { color: red }
vc:nth-last-child(
+	0n
-
0) { color: red }
wc:nth-last-child(/**/+/**/0n  -	1) { color: red }
xc:nth-child(  +
0n	-  2) { color: red }
yc:nth-last-child(
+  0/**/n	-/**/10) { color: red }
zc:nth-child(+
1) { color: red }
ad:nth-child(/**/+	1
n) { color: red }
bd:nth-last-child(+/**/1  n +
0) { color: red }
cd:nth-child(/**/+/**/1
n	+
1) { color: red }
dd:nth-child(/**/+
1	n  +2) { color: red }
ed:nth-child(
+  1n +
10) { color: red }
fd:nth-child(  +  1 n) { color: red }
gd:nth-child(	+  1
n  -0) { color: red }
hd:nth-child(+  1n-  1) { color: red }
id:nth-child(  +	1 n-	2) { color: red }
jd:nth-last-child( +/**/1n  -/**/10) { color: red }
kd:nth-last-child(  + 2) { color: red }
ld:nth-child(/**/+	2n) { color: red }
md:nth-last-child(  +	2 n/**/+/**/0) { color: red }
nd:nth-child(/**/+	2
n	+	1) { color: red }
od:nth-child(  +  2  n	+
2) { color: red }
pd:nth-last-child(
+ 2/**/n  +/**/10) { color: red }
qd:nth-last-child(+/**/2/**/n) { color: red }
rd:nth-child(+  2  n/**/-0) { color: red }
sd:nth-child( +  2
n -	1) { color: red }
td:nth-last-child(	+2
n
-	2) { color: red }
ud:nth-last-child( +  2
n	-  10) { color: red }
vd:nth-last-child(+  10) { color: red }
wd:nth-child(  +10n) { color: red }
xd:nth-last-child(/**/+
10
n	+  0) { color: red }
yd:nth-last-child(/**/+  10	n	+/**/1) { color: red }
zd:nth-last-child(  + 10  n+	2) { color: red }
ae:nth-last-child(
+ 10 n	+/**/10) { color: red }
be:nth-last-child(	+	10/**/n) { color: red }
ce:nth-last-child(	+ 10/**/n-  0) { color: red }
de:nth-child(+10  n-
1) { color: red }
ee:nth-last-child( +/**/10	n/**/-2) { color: red }
fe:nth-last-child(  +
10/**/n	-10) { color: red }
ge:nth-last-child(
odd/**/) { color: red }
he:nth-last-child(/**/-   n) { color: red }
ie:nth-last-child(
- 
n	+
0) { color: red }
je:nth-child(-/**/	n +  1) { color: red }
ke:nth-last-child(/**/- n	+2) { color: red }
le:nth-last-child(/**/-	n
+  10) { color: red }
me:nth-last-child(
-/**/ n) { color: red }
ne:nth-child(
-	n
-  0) { color: red }
oe:nth-last-child(-	/**/n-1) { color: red }
pe:nth-child(	- 
n - 2) { color: red }
qe:nth-last-child(/**/-/**//**/n/**/-	10) { color: red }
re:nth-child(	-/**/0) { color: red }
se:nth-last-child(/**/-
0 n) { color: red }
te:nth-child(
-	0 n+
0) { color: red }
ue:nth-child(	-
0/**/n+/**/1) { color: red }
ve:nth-last-child(
-/**/0	n
+	2) { color: red }
we:nth-last-child(
-0  n/**/+ 10) { color: red }
xe:nth-last-child(-	0
n) { color: red }
ye:nth-last-child(	-0	n
-  0) { color: red }
ze:nth-last-child( -	0 n -/**/1) { color: red }
af:nth-last-child(  -0/**/n	- 2) { color: red }
bf:nth-child( - 0n
-10) { color: red }
cf:nth-child(	-  1) { color: red }
df:nth-child( -	1
n) { color: red }
ef:nth-last-child(/**/-1 n+  0) { color: red }
ff:nth-child(
-/**/1  n/**/+
1) { color: red }
gf:nth-last-child(-
1 n  + 2) { color: red }
hf:nth-last-child(	-
1	n
+
10) { color: red }
if:nth-child(
-  1  n) { color: red }
jf:nth-last-child(-  1 n - 0) { color: red }
kf:nth-child(-  1  n -
1) { color: red }
lf:nth-child(  -  1/**/n -/**/2) { color: red }
mf:nth-last-child(  -
1/**/n  -/**/10) { color: red }
nf:nth-last-child(/**/-/**/2) { color: red }
of:nth-child( -  2/**/n) { color: red }
pf:nth-child(
- 2
n +  0) { color: red }
qf:nth-child(	-  2 n +/**/1) { color: red }
rf:nth-child(/**/-	2
n  +
2) { color: red }
sf:nth-last-child(  -/**/2/**/n
+  10) { color: red }
tf:nth-child(	-2 n) { color: red }
uf:nth-child(/**/- 2n	- 0) { color: red }
vf:nth-last-child( -2 n-1) { color: red }
wf:nth-last-child(-  2/**/n  -  2) { color: red }
xf:nth-child(	-2
n-
10) { color: red }
yf:nth-child(
-10) { color: red }
zf:nth-child(  - 10/**/n) { color: red }
ag:nth-child(
-  10 n+	0) { color: red }
bg:nth-last-child(
-/**/10n/**/+1) { color: red }
cg:nth-child(	-/**/10 n	+2) { color: red }
dg:nth-last-child(/**/-
10  n	+  10) { color: red }
eg:nth-last-child(/**/- 10 n) { color: red }
fg:nth-last-child(- 10n	-  0) { color: red }
gg:nth-last-child(  -10n	- 1) { color: red }
hg:nth-child(/**/- 10  n	- 2) { color: red }
ig:nth-child(/**/-
10	n -10) { color: red }
