a {
  box-shadow: 0.25pt -1em 1em 0.25pt rgba(255,127,0,0.5);
}

b {
  box-shadow: 0 0.25pt rgb(0,128,0);
}

c {
  box-shadow: 3px 0.25pt 0.125pt -1em currentColor inset;
}

d {
  box-shadow: -1em -1em 0.125pt rgba(255,127,0,0.5) inset;
}

e {
  box-shadow: 3px 0.25pt rgba(255,127,0,0.5);
}

f {
  box-shadow: 0 0 1em currentColor inset;
}

g {
  box-shadow: 3px -1em rgb(0,128,0);
}

h {
  box-shadow: 0.25pt 0 0.125pt -1em currentColor inset;
}

i {
  box-shadow: 0.25pt 3px currentColor inset;
}

j {
  box-shadow: 0 3px 3px rgba(255,127,0,0.5);
}

k {
  box-shadow: 0 -1em 3px rgb(0,128,0);
}

l {
  box-shadow: 0 -1em 0.125pt rgb(0,128,0);
}

m {
  box-shadow: 0.25pt -1em 1em rgb(0,128,0);
}

n {
  box-shadow: 0.25pt 0.25pt 3px rgb(0,128,0);
}

o {
  box-shadow: 3px -1em 0.125pt currentColor inset;
}

p {
  box-shadow: 0 3px currentColor inset;
}

q {
  box-shadow: 3px 0.25pt currentColor inset;
}

r {
  box-shadow: 3px -1em 3px 0.25pt currentColor inset;
}

s {
  box-shadow: -1em -1em currentColor inset;
}

t {
  box-shadow: -1em 0 alpha(@bg_color, 0.5);
}

u {
  box-shadow: -1em 0.25pt 0.125pt -1em rgba(255,127,0,0.5);
}

v {
  box-shadow: -1em 0.25pt 1em 0.25pt rgb(0,128,0);
}

w {
  box-shadow: 0.25pt -1em currentColor inset;
}

x {
  box-shadow: 3px 3px rgba(255,127,0,0.5);
}

y {
  box-shadow: 0 -1em 3px rgb(0,128,0) inset;
}

z {
  box-shadow: 0 3px 1em rgba(255,127,0,0.5);
}

ab {
  box-shadow: 0 3px rgba(255,127,0,0.5) inset;
}

bb {
  box-shadow: 0.25pt 0 rgb(0,128,0) inset;
}

cb {
  box-shadow: 0 0 currentColor;
}

db {
  box-shadow: 0 -1em rgb(0,128,0);
}

eb {
  box-shadow: -1em 0 3px -1em rgb(0,128,0);
}

fb {
  box-shadow: 3px 3px 3px 0.25pt currentColor;
}

gb {
  box-shadow: 3px 0.25pt rgba(255,127,0,0.5) inset;
}

hb {
  box-shadow: 0.25pt -1em 3px -1em rgb(0,128,0);
}

ib {
  box-shadow: -1em 0.25pt currentColor;
}

jb {
  box-shadow: 3px -1em rgb(0,128,0);
}

kb {
  box-shadow: 0.25pt 0.25pt 3px 0.25pt alpha(@bg_color, 0.5) inset;
}

lb {
  box-shadow: 3px -1em currentColor inset;
}

mb {
  box-shadow: -1em 0.25pt alpha(@bg_color, 0.5);
}

nb {
  box-shadow: -1em 0 0 -1em currentColor inset;
}

ob {
  box-shadow: -1em 3px rgb(0,128,0) inset;
}

pb {
  box-shadow: 0.25pt 0 0.125pt currentColor;
}

qb {
  box-shadow: -1em 0.25pt rgb(0,128,0) inset;
}

rb {
  box-shadow: 0.25pt 3px 1em alpha(@bg_color, 0.5) inset;
}

sb {
  box-shadow: 0.25pt 0 1em rgba(255,127,0,0.5) inset;
}

tb {
  box-shadow: -1em -1em 1em rgb(0,128,0) inset;
}

ub {
  box-shadow: 0.25pt 3px 0.125pt rgb(0,128,0) inset;
}

vb {
  box-shadow: 3px 0 0 0.25pt alpha(@bg_color, 0.5) inset;
}

wb {
  box-shadow: 3px -1em 1em rgba(255,127,0,0.5) inset;
}

xb {
  box-shadow: 3px 0.25pt 3px 0.25pt currentColor;
}

yb {
  box-shadow: 0.25pt 3px 1em -1em currentColor inset;
}

zb {
  box-shadow: -1em 0 rgba(255,127,0,0.5) inset;
}

ac {
  box-shadow: 0.25pt -1em 3px -1em currentColor;
}

bc {
  box-shadow: -1em 0 currentColor;
}

cc {
  box-shadow: -1em 3px 0 -1em currentColor inset;
}

dc {
  box-shadow: 0 -1em 3px rgb(0,128,0);
}

ec {
  box-shadow: 0.25pt -1em rgba(255,127,0,0.5) inset;
}

fc {
  box-shadow: -1em 3px 0.125pt rgb(0,128,0) inset;
}

gc {
  box-shadow: 0 0 rgb(0,128,0);
}

hc {
  box-shadow: 0.25pt 0.25pt 0 -1em alpha(@bg_color, 0.5) inset;
}

ic {
  box-shadow: -1em 0 rgb(0,128,0);
}

jc {
  box-shadow: 0 -1em 3px currentColor inset;
}

kc {
  box-shadow: -1em 0.25pt 1em rgb(0,128,0);
}

lc {
  box-shadow: -1em 3px 1em rgba(255,127,0,0.5) inset;
}

mc {
  box-shadow: -1em 0.25pt 3px rgb(0,128,0);
}

nc {
  box-shadow: 3px 0.25pt 0.125pt 0.25pt rgba(255,127,0,0.5);
}

oc {
  box-shadow: -1em 0.25pt 1em rgba(255,127,0,0.5) inset;
}

pc {
  box-shadow: 3px -1em currentColor inset;
}

qc {
  box-shadow: 0 -1em rgba(255,127,0,0.5) inset;
}

rc {
  box-shadow: 0.25pt -1em 0 -1em rgb(0,128,0) inset;
}

sc {
  box-shadow: 3px 0.25pt currentColor inset;
}

tc {
  box-shadow: 3px -1em 0 -1em currentColor inset;
}

uc {
  box-shadow: 0.25pt 0 currentColor;
}

vc {
  box-shadow: 0 -1em rgba(255,127,0,0.5) inset;
}

wc {
  box-shadow: -1em 0.25pt currentColor inset;
}

xc {
  box-shadow: 3px 0.25pt 0 -1em currentColor inset;
}

yc {
  box-shadow: 3px 0 rgb(0,128,0) inset;
}

zc {
  box-shadow: -1em -1em currentColor inset;
}

ad {
  box-shadow: 0 -1em 0.125pt -1em alpha(@bg_color, 0.5);
}

bd {
  box-shadow: -1em -1em 0.125pt alpha(@bg_color, 0.5);
}

cd {
  box-shadow: 0.25pt 3px rgba(255,127,0,0.5) inset;
}

dd {
  box-shadow: 0 3px rgb(0,128,0) inset;
}

ed {
  box-shadow: 0.25pt 0 currentColor;
}

fd {
  box-shadow: 3px 0 alpha(@bg_color, 0.5) inset;
}

gd {
  box-shadow: 0.25pt 0 rgba(255,127,0,0.5);
}

hd {
  box-shadow: 0.25pt -1em rgba(255,127,0,0.5) inset;
}

id {
  box-shadow: -1em 0 1em 0.25pt rgb(0,128,0) inset;
}

jd {
  box-shadow: 0 0.25pt 1em currentColor;
}

kd {
  box-shadow: 0.25pt 0 alpha(@bg_color, 0.5) inset;
}

ld {
  box-shadow: 3px 0.25pt 0 0.25pt alpha(@bg_color, 0.5) inset;
}

md {
  box-shadow: -1em -1em 3px rgba(255,127,0,0.5) inset;
}

nd {
  box-shadow: -1em -1em 1em -1em rgb(0,128,0) inset;
}

od {
  box-shadow: -1em -1em rgba(255,127,0,0.5) inset;
}

pd {
  box-shadow: 3px 3px 1em 0.25pt currentColor;
}

qd {
  box-shadow: 3px 0 currentColor inset;
}

rd {
  box-shadow: -1em 3px alpha(@bg_color, 0.5);
}

sd {
  box-shadow: -1em -1em rgb(0,128,0) inset;
}

td {
  box-shadow: 3px 3px currentColor inset;
}

ud {
  box-shadow: -1em -1em currentColor;
}

vd {
  box-shadow: -1em 0.25pt rgb(0,128,0) inset;
}
