* {
  background-image: none;
  border-bottom-style: none;
  border-image-source: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  box-shadow: none;
  engine: none;
  font-family: "none";
  icon-shadow: none;
  text-shadow: none;
}
