box.sidebar {
  padding: 20px;
  border-spacing: 20px;
}
fontcontrols {
  border-spacing: 10px;
}
fontvariations > grid {
  border-spacing: 10px;
}
fontcolors > grid {
  border-spacing: 10px;
}
samplechooser {
  border-spacing: 10px;
}
fontview {
  padding: 10px;
  border-spacing: 10px;
}
gridview > child {
  padding: 0;
}
glyphview {
  padding: 0;
  border: 0.6px solid gray;
}
