box.sidebar {
  padding: 20px;
  border-spacing: 20px;
}
fontcontrols {
  border-spacing: 10px;
}
fontvariations > grid {
  border-spacing: 10px;
}
fontcolors > grid {
  border-spacing: 10px;
}
samplechooser {
  border-spacing: 10px;
}
plainview .content {
  padding: 20px;
}
waterfallview .content {
  padding: 20px;
}
styleview .content {
  padding: 20px;
}
glyphsview .content {
  padding: 20px;
}
infoview .content {
  padding: 20px;
  border-spacing: 10px;
}
gridview > child {
  padding: 0;
}
glyphview {
  padding: 0;
  border: 0.6px solid gray;
}
.viewcontrols {
  padding: 20px;
  border-spacing: 10px;
}
