image: registry.gitlab.gnome.org/gnome/gtk/gtk-3-24:v1

stages:
  - build

cache:
  paths:
    - _ccache/

build:
  stage: build
  script:
   - bash -x ./.gitlab-ci/test-docker.sh

msys2-mingw32:
  when: manual
  variables:
    MSYSTEM: "MINGW32"
    CHERE_INVOKING: "yes"
  stage: build
  tags:
    - win32
  script:
    - C:\msys64\usr\bin\pacman --noconfirm -Syyuu
    - C:\msys64\usr\bin\bash -lc "bash -x ./.gitlab-ci/test-msys2.sh"
