stages:
  - build
  - docs

cache:
  paths:
    - _ccache/

fedora-autotools:
  image: registry.gitlab.gnome.org/gnome/gtk/fedora-gtk3:v3
  stage: build
  script:
    - bash -x ./.gitlab-ci/test-docker-autotools.sh

fedora-distcheck:
  image: registry.gitlab.gnome.org/gnome/gtk/fedora-gtk3:v3
  variables:
    DO_DISTCHECK: "yes"
  when: manual
  stage: build
  script:
    - bash -x ./.gitlab-ci/test-docker-meson.sh

fedora-meson:
  image: registry.gitlab.gnome.org/gnome/gtk/fedora-gtk3:v3
  stage: build
  variables:
    EXTRA_MESON_FLAGS: "-Ddefault_library=both"
  script:
    - bash -x ./.gitlab-ci/test-docker-meson.sh
  artifacts:
    when: always
    name: "gtk3-${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}"
    paths:
      - "_build/meson-logs"
      - "_build/testsuite/reftests/output"

debian-meson:
  image: registry.gitlab.gnome.org/gnome/gtk/debian-gtk3:v2
  stage: build
  variables:
    EXTRA_MESON_FLAGS: "-Ddefault_library=both"
  script:
    - bash -x ./.gitlab-ci/test-docker-meson.sh
  artifacts:
    when: always
    name: "gtk3-${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}"
    paths:
      - "_build/meson-logs"
      - "_build/testsuite/reftests/output"

reference:
  image: registry.gitlab.gnome.org/gnome/gtk/fedora-gtk3:v3
  stage: docs
  variables:
    EXTRA_MESON_FLAGS: "--buildtype=release -Dgtk_doc=true -Dman=true"
  script:
    - bash -x ./.gitlab-ci/test-docker-meson.sh
    - ninja -C _build gdk3-doc gtk3-doc
    - tar -c -J -f gdk3-docs.tar.xz _build/docs/reference/gdk
    - tar -c -J -f gtk3-docs.tar.xz _build/docs/reference/gtk
  artifacts:
    paths:
      - gdk3-docs.tar.xz
      - gtk3-docs.tar.xz

msys2-mingw64-meson:
  variables:
    MSYSTEM: "MINGW64"
    CHERE_INVOKING: "yes"
  stage: build
  tags:
    - win32-ps
  script:
    - C:\msys64\usr\bin\pacman --noconfirm -Syyuu
    - C:\msys64\usr\bin\bash -lc "bash -x ./.gitlab-ci/test-msys2-meson.sh"
  artifacts:
    when: always
    name: "gtk3-${env:CI_JOB_NAME}-${env:CI_COMMIT_REF_NAME}"
    paths:
      - "_build/meson-logs"
      - "_build/gdk/libgdk-3-0.dll"
      - "_build/gtk/libgtk-3-0.dll"

msys2-mingw64-autotools:
  when: manual
  variables:
    MSYSTEM: "MINGW64"
    CHERE_INVOKING: "yes"
  stage: build
  tags:
    - win32-ps
  script:
    - C:\msys64\usr\bin\pacman --noconfirm -Syyuu
    - C:\msys64\usr\bin\bash -lc "bash -x ./.gitlab-ci/test-msys2-autotools.sh"
