stages:
  - build
  - flatpak

gtk:
  image: ebassi/gitlab-gtk:latest
  stage: build
  before_script:
    - export CCACHE_DISABLE=true_
  script:
    - bash -x ./.gitlab-ci/test-docker.sh
  cache:
    paths:
      - subprojects/gdk-pixbuf/
      - subprojects/glib/
      - subprojects/graphene/
      - subprojects/libepoxy/
      - subprojects/pango/
  artifacts:
    when: on_failure
    name: "gtk-${CI_COMMIT_REF_NAME}"
    paths:
      - "${CI_PROJECT_DIR}/_build/meson-logs"

.mingw-defaults: &mingw-defaults
  stage: build
  tags:
    - win32
  script:
    - C:\msys64\usr\bin\pacman --noconfirm -Syyuu
    - C:\msys64\usr\bin\bash -lc "bash -x ./.gitlab-ci/test-msys2.sh"

mingw32:
  variables:
    MSYSTEM: "MINGW32"
    CHERE_INVOKING: "yes"
  <<: *mingw-defaults

flatpak:demo:
  image: registry.gitlab.com/alatiera/gnome-nightly-oci/gnome-master:latest
  stage: flatpak
  script:
    - bash -x ./.gitlab-ci/flatpak-build.sh org.gtk.Demo
  artifacts:
    paths:
      - org.gtk.Demo-dev.flatpak
    expire_in: 1 day

flatpak:widget-factory:
  image: registry.gitlab.com/alatiera/gnome-nightly-oci/gnome-master:latest
  stage: flatpak
  script:
    - bash -x ./.gitlab-ci/flatpak-build.sh org.gtk.WidgetFactory
  artifacts:
    paths:
      - org.gtk.WidgetFactory-dev.flatpak
    expire_in: 1 day
