stages:
  - build
  - analysis
  - docs
  - flatpak
  - deploy

.cache-paths: &cache-paths
  paths:
    - _ccache/
    - subprojects/gdk-pixbuf/
    - subprojects/glib/
    - subprojects/graphene/
    - subprojects/libepoxy/
    - subprojects/pango/

# Common variables
variables:
  COMMON_MESON_FLAGS: "--fatal-meson-warnings --werror"
  MESON_TEST_TIMEOUT_MULTIPLIER: 2

.only-default:
  only:
    - branches
  except:
    - tags

style-check-diff:
  extends: .only-default
  image: registry.gitlab.gnome.org/gnome/gtk/fedora:v16
  stage: .pre
  allow_failure: true
  script:
    - .gitlab-ci/run-style-check-diff.sh

.build-fedora-default:
  image: registry.gitlab.gnome.org/gnome/gtk/fedora:v16
  artifacts:
    when: always
    reports:
      junit:
        - "${CI_PROJECT_DIR}/_build/report.xml"
    name: "gtk-${CI_COMMIT_REF_NAME}"
    paths:
      - "${CI_PROJECT_DIR}/_build/meson-logs"
      - "${CI_PROJECT_DIR}/_build/report.xml"
      - "${CI_PROJECT_DIR}/_build/report.html"
      - "${CI_PROJECT_DIR}/_build/testsuite/reftests/output/*.png"
      - "${CI_PROJECT_DIR}/_build/testsuite/gsk/compare/*/*.png"
      - "${CI_PROJECT_DIR}/_build/testsuite/css/output/*.syscap"
  cache:
    key: "$CI_JOB_NAME"
    paths:
      - _ccache/
      - subprojects/gdk-pixbuf/
      - subprojects/glib/
      - subprojects/graphene/
      - subprojects/libepoxy/
      - subprojects/pango/

fedora-x86_64:
  extends: .build-fedora-default
  stage: build
  variables:
    EXTRA_MESON_FLAGS: "--buildtype=debug --default-library=both"
  script:
    - meson ${COMMON_MESON_FLAGS} ${EXTRA_MESON_FLAGS}
            -Dx11-backend=true
            -Dwayland-backend=true
            -Dbroadway-backend=true
            -Dvulkan=yes
            -Dprofiler=true
            _build
    - ninja -C _build
    - .gitlab-ci/run-tests.sh _build

release-build:
  extends: .build-fedora-default
  stage: build
  variables:
    EXTRA_MESON_FLAGS: "--buildtype=release"
  script:
    - meson ${COMMON_MESON_FLAGS} ${EXTRA_MESON_FLAGS}
            -Dx11-backend=true
            -Dwayland-backend=true
            -Dbroadway-backend=true
            -Dvulkan=yes
            _build
    - ninja -C _build
    - .gitlab-ci/run-tests.sh _build

.mingw-defaults:
  stage: build
  tags:
    - win32-ps
  script:
    - C:\msys64\usr\bin\pacman --noconfirm -Syyuu
    - C:\msys64\usr\bin\bash -lc "bash -x ./.gitlab-ci/test-msys2.sh"
  cache:
    key: "$CI_JOB_NAME"
    paths:
      - _ccache/
      - subprojects/gdk-pixbuf/
      - subprojects/glib/
      - subprojects/graphene/
      - subprojects/libepoxy/
      - subprojects/pango/

msys2-mingw32:
  extends: .mingw-defaults
  variables:
    MSYSTEM: "MINGW32"
    CHERE_INVOKING: "yes"

.flatpak-defaults:
  image: registry.gitlab.gnome.org/gnome/gnome-runtime-images/gnome:master
  stage: flatpak
  allow_failure: true
  tags:
    - flatpak
  artifacts:
    paths:
      - "${APPID}-dev.flatpak"
    expire_in: 1 day
  script:
    - bash -x ./.gitlab-ci/flatpak-build.sh "${APPID}"

# Manual jobs, for branches and MRs
.flatpak-manual:
  extends: .flatpak-defaults
  when: manual

# Only build Flatpak bundles automatically on master
.flatpak-master:
  extends: .flatpak-defaults
  only:
    - master

flatpak-manual:demo:
  extends: .flatpak-manual
  variables:
    APPID: org.gtk.Demo4

flatpak-master:demo:
  extends: .flatpak-master
  variables:
    APPID: org.gtk.Demo4

flatpak-manual:widget-factory:
  extends: .flatpak-manual
  variables:
    APPID: org.gtk.WidgetFactory4

flatpak-master:widget-factory:
  extends: .flatpak-master
  variables:
    APPID: org.gtk.WidgetFactory4

flatpak-manual:icon-browser:
  extends: .flatpak-manual
  variables:
    APPID: org.gtk.IconBrowser4

flatpak-master:icon-browser:
  extends: .flatpak-master
  variables:
    APPID: org.gtk.IconBrowser4

static-scan:
  image: registry.gitlab.gnome.org/gnome/gtk/fedora:v16
  stage: analysis
  variables:
    EXTRA_MESON_FLAGS: "--buildtype=debug"
  script:
    - meson ${COMMON_MESON_FLAGS} ${EXTRA_MESON_FLAGS} _scan_build
    - ninja -C _scan_build scan-build
  artifacts:
    paths:
      - _scan_build/meson-logs
  allow_failure: true

reference:
  image: registry.gitlab.gnome.org/gnome/gtk/fedora:v16
  stage: docs
  variables:
    EXTRA_MESON_FLAGS: "--buildtype=release"
  script:
    - meson ${COMMON_MESON_FLAGS} ${EXTRA_MESON_FLAGS} -Dgtk_doc=true _build
    - ninja -C _build gdk4-doc gsk4-doc gtk4-doc
    - mkdir -p _reference/
    - mv _build/docs/reference/gdk/html/ _reference/gdk/
    - mv _build/docs/reference/gsk/html/ _reference/gsk/
    - mv _build/docs/reference/gtk/html/ _reference/gtk/
  artifacts:
    paths:
      - _reference

pages:
  stage: deploy
  script:
    - mv _reference/ public/
  artifacts:
    paths:
      - public
  only:
    - master
