[Desktop Entry]
Name=Widget Factory
Comment=A showcase for GTK widgets, designed for testing themes.
Exec=gtk4-widget-factory
Icon=org.gtk.WidgetFactory4
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;GTK;
