.small-button {
  padding: 0;
  outline-width: 0;
}

.toolbar {
  -gtk-icon-style: symbolic;
}

.gtk-gradient-color {
  background: linear-gradient(to right, lime, red);
}
.gtk-gradient-monochrome {
  background: linear-gradient(to right, black, white);
}
