@import "reset-to-defaults.css";

* {
  color: black;
  text-shadow: 1px 1px white;
  background-repeat: no-repeat;
}

#a {
  background-image: url("border-image-balls.png");
  background-size: cover;
}

#reference #a {
  background-size: 40px;
}

#b {
  background-image: url("border-image-balls.png");
  background-size: contain;
}

#reference #b {
  background-size: 30px;
}

#c {
  background-image: url("border-image-balls.png");
  background-size: auto;
}

#reference #c {
  background-size: 60px;
}

#d {
  background-image: url("border-image-balls.png");
}

#reference #c {
  background-size: 60px;
}

#e {
  background-image: url("border-image-ball-red.png");
  background-size: cover;
}

#reference #e {
  background-size: 40px;
}

#f {
  background-image: url("border-image-ball-red.png");
  background-size: contain;
}

#reference #f {
  background-size: 30px;
}

#g {
  background-image: url("border-image-ball-red.png");
  background-size: auto;
}

#reference #g {
  background-size: 20px;
}

#h {
  background-image: url("border-image-ball-red.png");
}

#reference #h {
  background-size: 20px;
}

#i {
  background-image: url("border-image-3-balls-yellow.png");
  background-size: cover;
}

#reference #i {
  background-size: 90px;
}

#j {
  background-image: url("border-image-3-balls-yellow.png");
  background-size: contain;
}

#reference #j {
  background-size: 40px;
}

#k {
  background-image: url("border-image-3-balls-yellow.png");
  background-size: auto;
}

#reference #k {
  background-size: 60px;
}

#l {
  background-image: url("border-image-3-balls-yellow.png");
}

#reference #l {
  background-size: 60px;
}
