@import "reset-to-defaults.css";

GtkWindow {
  background-color: rgb(0,255,0);
}

GtkButton {
  border-width: 5px;
  border-style: solid;
  border-color: rgba(255,0,0,0.6);
  padding: 10px;
  background-color: rgb(0,0,255);

  /* Make sure children of button are only offset by padding */
  -GtkButton-default-border: 0;
  -GtkButton-inner-border: 0;
  -GtkWidget-focus-line-width: 0;
  -GtkWidget-focus-padding: 0;
}

#button1 {
  background-clip: border-box;
}

#button2 {
  background-clip: padding-box;
}

#button3 {
  background-clip: content-box;
}

#reference1 {
  border-color: rgb(153,0,102);
}

#reference2 {
  border-color: rgb(153,102,0);
}

#reference3 {
  border-color: rgb(153,102,0);
  background-color: transparent;
}

#reference3inner {
  padding: 0;
  border-width: 0;
  border-color: rgb(0, 255, 0);
  background-color: rgb(0,0,255);
}

