@import "reset-to-defaults.css";

.button {
  background-image: url("border-image-balls.png");
  color: black;
  text-shadow: 1px 1px white;
}

#a {
  background-size: cover;
}

#b {
  background-size: contain;
}

#c {
  background-size: auto 100%;
}

#d {
  background-size: 100% auto;
}

#e {
  background-size: 100%;
}

#f {
  background-size: auto 40px;
}

#g {
  background-size: 40px auto;
}

#h {
  background-size: 40px;
}

#i {
  background-size: 40px 100%;
}

#j {
  background-size: 100% 40px;
}

#k {
  background-size: 40px 40px;
}

#l {
  /* Uh, I'm out of ideas... */
  background-size: cover;
}

#reference * {
  background-size: auto;
  background-repeat: round;
}
