@import url("reset-to-defaults.css");

button {
  background-color: red;
  border-color: lime;
  border-width: 1px;
}

.button-top-left {
  border-style: solid none none solid;
}

.button-top-right {
  border-style: solid solid none none;
}

.button-bottom-left {
  border-style: none none solid solid;
}

.button-bottom-right {
  border-style: none solid solid none;
}

.button-border {
  border-style: solid;
}
