@import "reset-to-defaults.css";

button {
  border-top: 0.5px solid red;
  border-bottom: 0.5px solid blue;
}

#reference {
  border-top: 1px solid rgba(255,0,0,0.5);
  border-bottom: 1px solid rgba(0,0,255,0.5);
}
