@import "reset-to-defaults.css";

.button-image {
    border-image: -gtk-scaled(url("border-rgb.png"),url("border-rgb@2.png")) 3 stretch;


  border-style: groove;
  border-width: 3px 3px 3px 3px;
}

.button-not-image {
  border-color: #ff0000;

  border-style: solid;
  border-width: 1px 1px 1px 1px;
}

.button-not-image2 {
  border-color: #00ff00;

  border-style: solid;
  border-width: 1px 1px 1px 1px;
}

.button-not-image3 {
  border-color: #0000ff;

  border-style: solid;
  border-width: 1px 1px 1px 1px;
}
