* {
  all: unset;
  border-color: red;
}

button {
  background-color: purple;
  border-style: none;
  border-width: 5px;
  border-radius: 15px;
}

#reference {
  border-style: solid;
  border-width: 0;
  border-radius: 15px;
}

