* {
  background-image: none;
}

button:nth-child(even) {
  background-color: yellow;
}

button:nth-child(odd) {
  background-color: red;
}

button:first-child {
  background-color: purple;
}

button:last-child:nth-child(even) {
  background-color: lime;
}

button:last-child:nth-child(odd) {
  background-color: purple;
}

button:last-child:first-child {
  background-color: blue;
}

/* for reference */

#red {
  background-color: red;
}

#lime {
  background-color: lime;
}

#purple {
  background-color: purple;
}

#yellow {
  background-color: yellow;
}

#blue {
  background-color: blue;
}
