button {
  all: unset;
  margin: 10px;
}

button {
  box-shadow: 0 0 5px;
  background-color: transparent;
  background-blend-mode: lighten, normal;
  background-image: image(chartreuse), image(tomato);
}

button#reference {
  box-shadow: 0 0 5px;
  background-color: tomato;
  background-blend-mode: lighten;
  background-image: image(chartreuse);

}
