* {
  all: unset;
  background-color: mintcream;
}

picture {
  background-color: firebrick;
}

#reference {
  background-image: image(lime);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 200px;
}
