window {
  -gtk-dpi: 96;
  font-size: 12px;
}

.test label:last-child {
  color: red;
  font-size: 1em;
}

.px {
  font-size: 12px;
}

.pt {
  font-size: 12pt;
}

.in {
  font-size: 0.25in;
}

.cm {
  font-size: 0.635cm; /* quarter inch */
}

.mm {
  font-size: 6.35mm;  /* quarter inch */
}

.em {
  font-size: 1.5em;
}

.ex {
  font-size: 2.5ex;
}
