@import "reset-to-defaults.css";

* {
  -GtkNotebook-tab-overlap: 0; /* work around a notebook tab rendering bug */
  color: blue;
}

.notebook tab GtkLabel {
  color: blue
}
.notebook tab tab GtkLabel {
  color: red
}

/* for reference */
#red {
  color: red
}
