@import "reset-to-defaults.css";

* {
  -gtk-icon-source: url("green-20x20.png");
  -gtk-icon-transform: scale(0.5);
  -gtk-icon-shadow: red 1px 1px;
}

#transformed {
  -gtk-icon-transform: scale(0.5) rotate(90deg);
}
