@import "reset-to-defaults.css";

* {
  -gtk-icon-source: url("green-20x20.png");
  -GtkCheckButton-indicator-size: 16;
  -GtkCheckButton-indicator-spacing: 0;
  -GtkArrow-arrow-scaling: 1.0;
  /*666666666666666666667;*/
  -GtkExpander-expander-spacing: 0;
  -GtkExpander-expander-size: 16;
  font-size: 20px;
}

GtkImage {
  background: lime;
}
