@import "reset-to-defaults.css";

@keyframes foo {
  0% { text-shadow: 20px 20px tomato; }
  100% { text-shadow: 20px 20px tomato; }
}

GtkLabel {
  font-size: 40px;
  animation-name: foo;
  animation-duration: 100s;
  animation-timing-function: linear;
  animation-delay: 1ms;
}

#reference {
  animation: initial;
  text-shadow: 20px 20px tomato;
}
