@import "reset-to-defaults.css";

* {
  color: transparent;
}

.notebook.frame,
.notebook.header.frame {
  border: 1px solid tomato;
}

.reference.notebook.frame.bottom {
  border-bottom-style: none;
}

.reference.notebook.header.frame.bottom {
  border-top-style: none;
  border-bottom-style: solid;
}

.test.notebook.frame.top {
  border-top-style: none;
}

.test.notebook.header.frame.top {
  border-top-style: solid;
  border-bottom-style: none;
}
