@import "reset-to-defaults.css";

button {
  border-width: 5px;
  border-style: solid;
  border-color: rgb(255,0,0);
  padding: 10px;
  background-color: rgb(0,0,255);
}

#alpha {
  opacity: 0.5
}

#ref {
  opacity: 0.125
}
