/* @import this colorsheet to get the default values for every property.
 * This is useful when writing special CSS tests that should not be
 * inluenced by themes - not even the default ones.
 * Keep in mind that the output will be very ugly and not look like
 * anything GTK.
 * Also, when adding new style properties, please add them here.
 */

* {
  color: unset;
  font-size: unset;
  background-color: unset;
  font-family: unset;
  font-style: unset;
  font-variant: unset;
  font-weight: unset;
  text-shadow: unset;
  icon-shadow: unset;
  box-shadow: unset;
  margin-top: unset;
  margin-left: unset;
  margin-bottom: unset;
  margin-right: unset;
  padding-top: unset;
  padding-left: unset;
  padding-bottom: unset;
  padding-right: unset;
  border-top-style: unset;
  border-top-width: unset;
  border-left-style: unset;
  border-left-width: unset;
  border-bottom-style: unset;
  border-bottom-width: unset;
  border-right-style: unset;
  border-right-width: unset;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  border-bottom-left-radius: unset;
  outline-style: unset;
  outline-width: unset;
  outline-offset: unset;
  background-clip: unset;
  background-origin: unset;
  background-size: unset;
  background-position: unset;
  border-top-color: unset;
  border-right-color: unset;
  border-bottom-color: unset;
  border-left-color: unset;
  outline-color:  unset;
  background-repeat: unset;
  background-image: unset;
  border-image-source: unset;
  border-image-repeat: unset;
  border-image-slice: unset;
  border-image-width: unset;
  transition-property: unset;
  transition-duration: unset;
  transition-timing-function: unset;
  transition-delay: unset;
  engine: unset;
  gtk-key-bindings: unset;

  -GtkWidget-focus-line-width: 0;
  -GtkWidget-focus-padding: 0;
  -GtkNotebook-initial-gap: 0;
}
