* {
  engine: none;
  border-radius: 0;
}

GtkWidget {
  border-right-width: 5px;
}

GtkEntry {
  border-width: 10px 20px;
}

.entry {
  border-left-width: 10px;
  border-right-width: 10px;
}

#reference {
  border-width: 10px;
}
