@import "reset-to-defaults.css";

#button1_ref {
    background-image: url("background-position-repeat-bg.png");
}

#button1 {
    background-color: white;
    background-image: linear-gradient(to right, red, red 1px);
    background-size: 1px 1px;
    background-repeat: repeat no-repeat;
    background-position: left;
}
