@import "reset-to-defaults.css";

.button {
  background-image: url("green-20x20.png");
  background-repeat: no-repeat;
  background-color: red;
}

.button#ref {
  background-image: none;
  background-color: lime;
}

GtkWindow#ref {
  background-color: red;
}

#a {
  background-position: 50% 50%;
}

#b {
  background-position: 0% 50%;
}

#c {
  background-position: 0% 100%;
}

#d {
  background-position: bottom right;
}

#e {
  background-position: right top;
}

#f {
  background-position: right;
}

#g {
  background-position: 10px 10px;
}

#h {
  background-position: -10px 10px;
}

#i {
  background-position: 20px 20px;
}
