* {
  border-image: none;
  border-style: solid;
  border-width: 5px;
}

GtkButton {
  /* using a nonexistant color because that will lead to the default value */
  border-color: @doesnotexist;
  color: purple;
}

#reference {
  border-color: purple;
  color: purple;
}

