@import "reset-to-defaults.css";

.button-image {
  border-image: url("green-20x20.png") 1 stretch;

  border-style: groove;
  border-width: 1px 2px 2px 1px;
}

.button-not-image {
  border-color: lime;

  border-style: solid;
  border-width: 1px 2px 2px 1px;
}
