@import url("reset-to-defaults.css");

GtkWindow {
  engine: none;
  background-image: none;
  background-color: green;
  border-radius: 0;
  border-style: none;
}

NotGtkWindow {
  background-color: red;
}
