@import url("reset-to-defaults.css");

GtkContainer {
  engine: none;
  background-image: none;
  background-color: green;
  border-radius: 0;
  border-style: none;
}

NotGtkContainer {
  background-color: red;
}
