@import url("reset-to-defaults.css");

.window {
  engine: none;
  background-image: none;
  background-color: green;
  border-radius: 0;
  border-style: none;
}

.notwindow {
  background-color: red;
}

.window.notwindow {
  background-color: blue;
}
