* {  
  -GtkWidget-interior-focus: false;
  -GtkWidget-focus-line-width: 10;
  padding: 0;
  engine: none;
  font: Monospace;
  border-image: none;
}

GtkEntry #padded {
  -GtkWidget-interior-focus: true;
  padding: 10px;
}

.progressbar {
  background-color: rgba(0,0,0,0);
  background-image: none;
  border-color: rgba(0,0,0,0);
  color: red;
}

#reference {
  color: red;
}
