@import "reset-to-defaults.css";

.info {
  background-color: @info_bg_color;
  color: @info_fg_color;
}

.warning {
  background-color: @warning_bg_color;
  color: @warning_fg_color;
}

.question {
  background-color: @question_bg_color;
  color: @question_fg_color;
}

.error {
  background-color: @error_bg_color;
  color: @error_fg_color;
}

#reference-info {
  padding: 8px;
  color: @info_fg_color;
  background-color: @info_bg_color;
  background-image: none;
}

#reference-warning {
  padding: 8px;
  color: @warning_fg_color;
  background-color: @warning_bg_color;
  background-image: none;
}

#reference-question {
  padding: 8px;
  color: @question_fg_color;
  background-color: @question_bg_color;
  background-image: none;
}

#reference-error {
  padding: 8px;
  color: @error_fg_color;
  background-color: @error_bg_color;
  background-image: none;
}

#reference-other {
  padding: 8px;
}
