#color0 {
  background-color: Blue;
}

#reference0 {
  background-color: #0000FF;
}

#color1 {
  background-color: Pink;
}

#reference1 {
  background-color: #FFC0CB;
}

#color2 {
  background-color: Darkorange;
}

#reference2 {
  background-color: #FF8C00;
}

#color3 {
  background-color: SaddleBrown;
}

#reference3 {
  background-color: #8B4513;
}

#color4 {
  background-color: SlateGray;
}

#reference4 {
  background-color: #708090;
}

#color5 {
  background-color: IndianRed;
}

#reference5 {
  background-color: #CD5C5C;
}

#color6 {
  background-color: Fuchsia;
}

#reference6 {
  background-color: #FF00FF;
}

#color7 {
  background-color: Snow;
}

#reference7 {
  background-color: #FFFAFA;
}

#color8 {
  background-color: LawnGreen;
}

#reference8 {
  background-color: #7CFC00;
}

#color9 {
  background-color: SteelBlue;
}

#reference9 {
  background-color: #4682B4;
}

#color10 {
  background-color: MediumSlateBlue;
}

#reference10 {
  background-color: #7B68EE;
}

#color11 {
  background-color: Black;
}

#reference11 {
  background-color: #000000;
}

#color12 {
  background-color: AliceBlue;
}

#reference12 {
  background-color: #F0F8FF;
}

#color13 {
  background-color: Salmon;
}

#reference13 {
  background-color: #FA8072;
}

#color14 {
  background-color: Crimson;
}

#reference14 {
  background-color: #DC143C;
}

#color15 {
  background-color: RoyalBlue;
}

#reference15 {
  background-color: #4169E1;
}

#color16 {
  background-color: White;
}

#reference16 {
  background-color: #FFFFFF;
}

#color17 {
  background-color: NavajoWhite;
}

#reference17 {
  background-color: #FFDEAD;
}

#color18 {
  background-color: Cornsilk;
}

#reference18 {
  background-color: #FFF8DC;
}

#color19 {
  background-color: Bisque;
}

#reference19 {
  background-color: #FFE4C4;
}

#color20 {
  background-color: PaleGreen;
}

#reference20 {
  background-color: #98FB98;
}

#color21 {
  background-color: Brown;
}

#reference21 {
  background-color: #A52A2A;
}

#color22 {
  background-color: DarkTurquoise;
}

#reference22 {
  background-color: #00CED1;
}

#color23 {
  background-color: DarkGreen;
}

#reference23 {
  background-color: #006400;
}

#color24 {
  background-color: MediumVioletRed;
}

#reference24 {
  background-color: #C71585;
}

#color25 {
  background-color: DarkViolet;
}

#reference25 {
  background-color: #9400D3;
}

#color26 {
  background-color: DarkGray;
}

#reference26 {
  background-color: #A9A9A9;
}

#color27 {
  background-color: DarkGoldenRod;
}

#reference27 {
  background-color: #B8860B;
}

#color28 {
  background-color: MediumOrchid;
}

#reference28 {
  background-color: #BA55D3;
}

#color29 {
  background-color: Chocolate;
}

#reference29 {
  background-color: #D2691E;
}

#color30 {
  background-color: Purple;
}

#reference30 {
  background-color: #800080;
}

#color31 {
  background-color: PapayaWhip;
}

#reference31 {
  background-color: #FFEFD5;
}

#color32 {
  background-color: Olive;
}

#reference32 {
  background-color: #808000;
}

#color33 {
  background-color: LightSlateGray;
}

#reference33 {
  background-color: #778899;
}

#color34 {
  background-color: DarkMagenta;
}

#reference34 {
  background-color: #8B008B;
}

#color35 {
  background-color: PeachPuff;
}

#reference35 {
  background-color: #FFDAB9;
}

#color36 {
  background-color: Tomato;
}

#reference36 {
  background-color: #FF6347;
}

#color37 {
  background-color: Violet;
}

#reference37 {
  background-color: #EE82EE;
}

#color38 {
  background-color: SlateGrey;
}

#reference38 {
  background-color: #708090;
}

#color39 {
  background-color: MediumSpringGreen;
}

#reference39 {
  background-color: #00FA9A;
}

#color40 {
  background-color: DodgerBlue;
}

#reference40 {
  background-color: #1E90FF;
}

#color41 {
  background-color: Aqua;
}

#reference41 {
  background-color: #00FFFF;
}

#color42 {
  background-color: HotPink;
}

#reference42 {
  background-color: #FF69B4;
}

#color43 {
  background-color: ForestGreen;
}

#reference43 {
  background-color: #228B22;
}

#color44 {
  background-color: Orchid;
}

#reference44 {
  background-color: #DA70D6;
}

#color45 {
  background-color: LemonChiffon;
}

#reference45 {
  background-color: #FFFACD;
}

#color46 {
  background-color: MintCream;
}

#reference46 {
  background-color: #F5FFFA;
}

#color47 {
  background-color: SeaShell;
}

#reference47 {
  background-color: #FFF5EE;
}

#color48 {
  background-color: LightGray;
}

#reference48 {
  background-color: #D3D3D3;
}

#color49 {
  background-color: GoldenRod;
}

#reference49 {
  background-color: #DAA520;
}

#color50 {
  background-color: Indigo;
}

#reference50 {
  background-color: #4B0082;
}

#color51 {
  background-color: CornflowerBlue;
}

#reference51 {
  background-color: #6495ED;
}

#color52 {
  background-color: CadetBlue;
}

#reference52 {
  background-color: #5F9EA0;
}

#color53 {
  background-color: LightYellow;
}

#reference53 {
  background-color: #FFFFE0;
}

#color54 {
  background-color: DarkBlue;
}

#reference54 {
  background-color: #00008B;
}

#color55 {
  background-color: LimeGreen;
}

#reference55 {
  background-color: #32CD32;
}

#color56 {
  background-color: DeepSkyBlue;
}

#reference56 {
  background-color: #00BFFF;
}

#color57 {
  background-color: DarkKhaki;
}

#reference57 {
  background-color: #BDB76B;
}

#color58 {
  background-color: LightGrey;
}

#reference58 {
  background-color: #D3D3D3;
}

#color59 {
  background-color: WhiteSmoke;
}

#reference59 {
  background-color: #F5F5F5;
}

#color60 {
  background-color: Yellow;
}

#reference60 {
  background-color: #FFFF00;
}

#color61 {
  background-color: Gainsboro;
}

#reference61 {
  background-color: #DCDCDC;
}

#color62 {
  background-color: Sienna;
}

#reference62 {
  background-color: #A0522D;
}

#color63 {
  background-color: LavenderBlush;
}

#reference63 {
  background-color: #FFF0F5;
}

#color64 {
  background-color: SandyBrown;
}

#reference64 {
  background-color: #F4A460;
}

#color65 {
  background-color: DeepPink;
}

#reference65 {
  background-color: #FF1493;
}

#color66 {
  background-color: PowderBlue;
}

#reference66 {
  background-color: #B0E0E6;
}

#color67 {
  background-color: Magenta;
}

#reference67 {
  background-color: #FF00FF;
}

#color68 {
  background-color: Silver;
}

#reference68 {
  background-color: #C0C0C0;
}

#color69 {
  background-color: DarkGrey;
}

#reference69 {
  background-color: #A9A9A9;
}

#color70 {
  background-color: DarkCyan;
}

#reference70 {
  background-color: #008B8B;
}

#color71 {
  background-color: DarkSlateGrey;
}

#reference71 {
  background-color: #2F4F4F;
}

#color72 {
  background-color: GreenYellow;
}

#reference72 {
  background-color: #ADFF2F;
}

#color73 {
  background-color: DarkOrchid;
}

#reference73 {
  background-color: #9932CC;
}

#color74 {
  background-color: LightSalmon;
}

#reference74 {
  background-color: #FFA07A;
}

#color75 {
  background-color: LightGoldenRodYellow;
}

#reference75 {
  background-color: #FAFAD2;
}

#color76 {
  background-color: OliveDrab;
}

#reference76 {
  background-color: #6B8E23;
}

#color77 {
  background-color: DarkRed;
}

#reference77 {
  background-color: #8B0000;
}

#color78 {
  background-color: LightSkyBlue;
}

#reference78 {
  background-color: #87CEFA;
}

#color79 {
  background-color: SlateBlue;
}

#reference79 {
  background-color: #6A5ACD;
}

#color80 {
  background-color: Orange;
}

#reference80 {
  background-color: #FFA500;
}

#color81 {
  background-color: Chartreuse;
}

#reference81 {
  background-color: #7FFF00;
}

#color82 {
  background-color: PaleVioletRed;
}

#reference82 {
  background-color: #DB7093;
}

#color83 {
  background-color: Maroon;
}

#reference83 {
  background-color: #800000;
}

#color84 {
  background-color: Peru;
}

#reference84 {
  background-color: #CD853F;
}

#color85 {
  background-color: MediumTurquoise;
}

#reference85 {
  background-color: #48D1CC;
}

#color86 {
  background-color: Aquamarine;
}

#reference86 {
  background-color: #7FFFD4;
}

#color87 {
  background-color: LightCoral;
}

#reference87 {
  background-color: #F08080;
}

#color88 {
  background-color: Thistle;
}

#reference88 {
  background-color: #D8BFD8;
}

#color89 {
  background-color: Red;
}

#reference89 {
  background-color: #FF0000;
}

#color90 {
  background-color: DarkSlateGray;
}

#reference90 {
  background-color: #2F4F4F;
}

#color91 {
  background-color: Khaki;
}

#reference91 {
  background-color: #F0E68C;
}

#color92 {
  background-color: Wheat;
}

#reference92 {
  background-color: #F5DEB3;
}

#color93 {
  background-color: LightPink;
}

#reference93 {
  background-color: #FFB6C1;
}

#color94 {
  background-color: BurlyWood;
}

#reference94 {
  background-color: #DEB887;
}

#color95 {
  background-color: LightSeaGreen;
}

#reference95 {
  background-color: #20B2AA;
}

#color96 {
  background-color: MediumBlue;
}

#reference96 {
  background-color: #0000CD;
}

#color97 {
  background-color: DarkSalmon;
}

#reference97 {
  background-color: #E9967A;
}

#color98 {
  background-color: RosyBrown;
}

#reference98 {
  background-color: #BC8F8F;
}

#color99 {
  background-color: BlueViolet;
}

#reference99 {
  background-color: #8A2BE2;
}

#color100 {
  background-color: LightSlateGrey;
}

#reference100 {
  background-color: #778899;
}

#color101 {
  background-color: Cyan;
}

#reference101 {
  background-color: #00FFFF;
}

#color102 {
  background-color: MediumPurple;
}

#reference102 {
  background-color: #9370DB;
}

#color103 {
  background-color: MidnightBlue;
}

#reference103 {
  background-color: #191970;
}

#color104 {
  background-color: FireBrick;
}

#reference104 {
  background-color: #B22222;
}

#color105 {
  background-color: PaleTurquoise;
}

#reference105 {
  background-color: #AFEEEE;
}

#color106 {
  background-color: Gray;
}

#reference106 {
  background-color: #808080;
}

#color107 {
  background-color: Lime;
}

#reference107 {
  background-color: #00FF00;
}

#color108 {
  background-color: MediumSeaGreen;
}

#reference108 {
  background-color: #3CB371;
}

#color109 {
  background-color: LightBlue;
}

#reference109 {
  background-color: #ADD8E6;
}

#color110 {
  background-color: Coral;
}

#reference110 {
  background-color: #FF7F50;
}

#color111 {
  background-color: Turquoise;
}

#reference111 {
  background-color: #40E0D0;
}

#color112 {
  background-color: Grey;
}

#reference112 {
  background-color: #808080;
}

#color113 {
  background-color: DarkSlateBlue;
}

#reference113 {
  background-color: #483D8B;
}

#color114 {
  background-color: LightGreen;
}

#reference114 {
  background-color: #90EE90;
}

#color115 {
  background-color: Linen;
}

#reference115 {
  background-color: #FAF0E6;
}

#color116 {
  background-color: Green;
}

#reference116 {
  background-color: #008000;
}

#color117 {
  background-color: Beige;
}

#reference117 {
  background-color: #F5F5DC;
}

#color118 {
  background-color: Teal;
}

#reference118 {
  background-color: #008080;
}

#color119 {
  background-color: Azure;
}

#reference119 {
  background-color: #F0FFFF;
}

#color120 {
  background-color: Moccasin;
}

#reference120 {
  background-color: #FFE4B5;
}

#color121 {
  background-color: OrangeRed;
}

#reference121 {
  background-color: #FF4500;
}

#color122 {
  background-color: LightSteelBlue;
}

#reference122 {
  background-color: #B0C4DE;
}

#color123 {
  background-color: DimGrey;
}

#reference123 {
  background-color: #696969;
}

#color124 {
  background-color: Tan;
}

#reference124 {
  background-color: #D2B48C;
}

#color125 {
  background-color: AntiqueWhite;
}

#reference125 {
  background-color: #FAEBD7;
}

#color126 {
  background-color: PaleGoldenRod;
}

#reference126 {
  background-color: #EEE8AA;
}

#color127 {
  background-color: SkyBlue;
}

#reference127 {
  background-color: #87CEEB;
}

#color128 {
  background-color: GhostWhite;
}

#reference128 {
  background-color: #F8F8FF;
}

#color129 {
  background-color: HoneyDew;
}

#reference129 {
  background-color: #F0FFF0;
}

#color130 {
  background-color: FloralWhite;
}

#reference130 {
  background-color: #FFFAF0;
}

#color131 {
  background-color: DimGray;
}

#reference131 {
  background-color: #696969;
}

#color132 {
  background-color: SeaGreen;
}

#reference132 {
  background-color: #2E8B57;
}

#color133 {
  background-color: Lavender;
}

#reference133 {
  background-color: #E6E6FA;
}

#color134 {
  background-color: BlanchedAlmond;
}

#reference134 {
  background-color: #FFEBCD;
}

#color135 {
  background-color: DarkOliveGreen;
}

#reference135 {
  background-color: #556B2F;
}

#color136 {
  background-color: LightCyan;
}

#reference136 {
  background-color: #E0FFFF;
}

#color137 {
  background-color: DarkSeaGreen;
}

#reference137 {
  background-color: #8FBC8F;
}

#color138 {
  background-color: MediumAquaMarine;
}

#reference138 {
  background-color: #66CDAA;
}

#color139 {
  background-color: Plum;
}

#reference139 {
  background-color: #DDA0DD;
}

#color140 {
  background-color: Gold;
}

#reference140 {
  background-color: #FFD700;
}

#color141 {
  background-color: SpringGreen;
}

#reference141 {
  background-color: #00FF7F;
}

#color142 {
  background-color: Navy;
}

#reference142 {
  background-color: #000080;
}

#color143 {
  background-color: MistyRose;
}

#reference143 {
  background-color: #FFE4E1;
}

#color144 {
  background-color: Ivory;
}

#reference144 {
  background-color: #FFFFF0;
}

#color145 {
  background-color: YellowGreen;
}

#reference145 {
  background-color: #9ACD32;
}

#color146 {
  background-color: OldLace;
}

#reference146 {
  background-color: #FDF5E6;
}

