/* For nth-child, we have a custom rule for every multiple of
 * the prime numbers.
 * For nth-last-child, we also color the prime number itself.
 */

:nth-child(2n+2),
:nth-last-child(-2n+200) {
  color: blue;
}

:nth-child(3n+3),
:nth-last-child(3n-300) {
  font-weight: bold;
}

:nth-child(5n+5),
:nth-last-child(-5n+500) {
  font-style: italic;
}

:nth-child(7n+7),
:nth-last-child(7n-700) {
  text-shadow: red 1px 1px;
}

:nth-child(11n+11),
:nth-last-child(-11n+1100) {
  text-shadow: lime 1px 1px;
}

#ref1 {
  font-style: italic;
}

#ref2 {
  color: blue;
  font-weight: bold;
}

#ref3 {
}

#ref4 {
  color: blue;
  text-shadow: lime 1px 1px;
}

#ref5 {
  font-weight: bold;
  text-shadow: red 1px 1px;
}

#ref6 {
  color: blue;
  font-weight: bold;
  font-style: italic;
}

#ref7 {
}

#ref8 {
  color: blue;
  font-weight: bold;
}

#ref9 {
  font-weight: bold;
}

#ref10 {
  color: blue;
  font-style: italic;
}

#ref11 {
  font-weight: bold;
  font-style: italic;
}

#ref12 {
  color: blue;
  font-weight: bold;
  text-shadow: red 1px 1px;
}

#ref13 {
}

#ref14 {
  color: blue;
  font-weight: bold;
  text-shadow: red 1px 1px;
}

#ref15 {
  font-weight: bold;
  font-style: italic;
  text-shadow: lime 1px 1px;
}

#ref16 {
  color: blue;
  font-style: italic;
}

#ref17 {
  font-weight: bold;
}

#ref18 {
  color: blue;
  font-weight: bold;
}

#ref19 {
  text-shadow: red 1px 1px;
}

#ref20 {
  color: blue;
  font-weight: bold;
  font-style: italic;
}

#ref21 {
  font-weight: bold;
  font-style: italic;
  text-shadow: red 1px 1px;
}

#ref22 {
  color: blue;
  text-shadow: lime 1px 1px;
}

#ref23 {
  font-weight: bold;
}

#ref24 {
  color: blue;
  font-weight: bold;
}

#ref25 {
  font-style: italic;
}
