@import "reset-to-defaults.css";

GtkWindow {
  background-color: @doesntexist;
  box-shadow: @nonexistant 5px 5px;
  border-image: -gtk-gradient(linear,
                              left top, left bottom,
                              from(@notaavailable),
                              to(@whatever)) 2;
}

#reference {
  background-color: transparent;
  box-shadow: none;
  border-image: none;
}
