@import url("gtk-win32-base.css");

/* Menus */

.menubar {
    background-color: transparent;
    border-width: 0;
    background-image: -gtk-win32-theme-part(menu, 7 1);
}

.menubar > .menuitem {
    background-color: transparent;
    border-width: 0;
    background-image: -gtk-win32-theme-part(menu, 8 1);
}

.menubar > .menuitem:prelight {
    background-image: -gtk-win32-theme-part(menu, 8 3);
}

.menuitem:prelight {
    background-image: -gtk-win32-theme-part(menu, 14 2);
}

.menuitem:prelight:insensitive {
    background-image: -gtk-win32-theme-part(menu, 14 4);
}

.menuitem.radio,
.menuitem.radio:prelight,
.menuitem.radio:insensitive {
    background-color: transparent;
    background-image: none;
    border-width: 0;
}

.menuitem.radio:active, 
.menuitem.radio:active:prelight {
    background-image: -gtk-win32-theme-part(menu, 11 3);
    border-width: 0;
}

.menuitem.radio:inconsistent,
.menuitem.radio:inconsistent:insensitive,
.menuitem.radio:inconsistent:prelight,
.menuitem.radio:inconsistent:active,
.menuitem.radio:inconsistent:active:prelight {
    background-image: none; /* Fall back to default, this state is not in win32 */
    border-width: 0;
}

.menuitem.radio:insensitive:active,
.menuitem.radio:insensitive:active:prelight {
    background-image: -gtk-win32-theme-part(menu, 11 4);
    border-width: 0;
}

.menuitem.check,
.menuitem.check:prelight,
.menuitem.check:insensitive {
    background-image: none;
    border-width: 0;
}

.menuitem.check:active, 
.menuitem.check:active:prelight {
    background-image: -gtk-win32-theme-part(menu, 11 1);
    border-width: 0;
}

.menuitem.check:inconsistent,
.menuitem.check:inconsistent:insensitive,
.menuitem.check:inconsistent:prelight,
.menuitem.check:inconsistent:active,
.menuitem.check:inconsistent:active:prelight {
    background-image: none; /* Fall back to default, this state is not in win32 */
    border-width: 0;
}

.menuitem.check:insensitive:active,
.menuitem.check:insensitive:active:prelight{
    background-image: -gtk-win32-theme-part(menu, 11 2);
    border-width: 0;
}
