@media (prefers-color-scheme: light) {
  @media (prefers-contrast: more) {
    :root {
      --sidebar-bg: color(srgb 0.9 0.9 0.9);
      --border: color(srgb 0 0 0 / 100%);

      --highlight: rgb(53,132,228);
      --trough-background: rgb(225,222,219);
      --trough-border-color: rgb(225,222,219);
      --slider-outline-color: rgba(53,132,228,0.5);
      --slider-border-color: rgb(205,199,194);
      --slider-background: linear-gradient(to top, rgb(246,245,244) 2px, rgb(251,250,250));
    }
  }
  @media (not (prefers-contrast: more)) {
    :root {
      --sidebar-bg: color(srgb 0.9 0.9 0.9);
      --border: color(srgb 0 0 0 / 50%);

      --highlight: rgb(53,132,228);
      --trough-background: rgb(225,222,219);
      --trough-border-color: rgb(225,222,219);
      --slider-outline-color: rgba(53,132,228,0.5);
      --slider-border-color: rgb(205,199,194);
      --slider-background: linear-gradient(to top, rgb(246,245,244) 2px, rgb(251,250,250));
    }
  }
}

@media (prefers-color-scheme: dark) {
  @media (prefers-contrast: more) {
    :root {
      --sidebar-bg: color(srgb 0.1 0.1 0.1);
      --border: color(srgb 1 1 1 / 100%);

      --highlight: rgb(21,83,158);
      --trough-background: rgb(40,40,40);
      --trough-border-color: rgb(40,40,40);
      --slider-outline-color: rgba(21,83,158,0.7);
      --slider-border-color: rgb(27,27,27);
      --slider-background: linear-gradient(to top, rgb(55,55,55) 2px, rgb(58,58,58));
    }
  }
  @media (not (prefers-contrast: more)) {
    :root {
      --sidebar-bg: color(srgb 0.1 0.1 0.1);
      --border: color(srgb 1 1 1 / 50%);

      --highlight: rgb(21,83,158);
      --trough-background: rgb(40,40,40);
      --trough-border-color: rgb(40,40,40);
      --slider-outline-color: rgba(21,83,158,0.7);
      --slider-border-color: rgb(27,27,27);
      --slider-background: linear-gradient(to top, rgb(55,55,55) 2px, rgb(58,58,58));
    }
  }
}

PaintableEditor {
  border-left: 0.5px solid var(--border);
  background: var(--sidebar-bg);
}

PaintableEditor > scrolledwindow > viewport {
  padding: 10px;
}

PaintableEditor viewport > box:not(.linked):not(.tight) {
  border-spacing: 30px;
}

PaintableEditor box:not(.linked):not(.tight) {
  border-spacing: 10px;
}

PaintableEditor grid {
  border-spacing: 10px;
}

ColorEditor {
  border-spacing: 10px;
}

ColorEditor menubutton.alpha > button {
  padding: 4px;
}

PaintableEditor separator {
  background-color: var(--border);
}

.thumbnail-200 {
  border-top: 1px solid var(--border);
  border-right: 1px solid var(--border);
  padding: 4px;
  font-weight: 200;
}

.thumbnail-300 {
  border-top: 1px solid var(--border);
  border-right: 1px solid var(--border);
  padding: 4px;
  font-weight: 300;
}

.thumbnail-400 {
  border-top: 1px solid var(--border);
  border-right: 1px solid var(--border);
  padding: 4px;
  font-weight: 400;
}

.thumbnail-500 {
  border-top: 1px solid var(--border);
  border-right: 1px solid var(--border);
  padding: 4px;
  font-weight: 500;
}

.thumbnail-600 {
  border-top: 1px solid var(--border);
  border-right: 1px solid var(--border);
  padding: 4px;
  font-weight: 600;
}

.window-title {
  border-spacing: 5px;
  background: none;
}

rangeeditor > trough {
  border: 1px solid var(--trough-border-color);
  border-radius: 3px;
  background: var(--trough-background);
  min-height: 6px;
}

rangeeditor > trough > highlight {
  background: var(--highlight);
}

rangeeditor > mark > indicator {
  min-width: 1px;
  min-height: 6px;
  background-color: currentColor;
}

rangeeditor > mark {
  min-width: 13px;
  min-height: 12px;
  margin-top: -3px;
  margin-bottom: -3px;
  margin-left: -6px;
  margin-right: -6px;
}

rangeeditor > trough > slider.left {
  min-width: 10px;
  min-height: 18px;
  margin: -9px 0px;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  outline-color: var(--slider-outline-color);
  border-color: var(--slider-border-color);
  background-image: var(--slider-background);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  border-width: 1px;
  border-style: solid;
}

rangeeditor > trough > slider.right {
  min-width: 10px;
  min-height: 18px;
  margin: -9px 0px;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  outline-color: var(--slider-outline-color);
  border-color: var(--slider-border-color);
  background-image: var(--slider-background);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  border-width: 1px;
  border-style: solid;
}

.grid-image,
.grid-button {
  margin: 10px;
}

.grid-button popover > contents > box,
.grid-button popover > contents > StateEditor {
  border-spacing: 10px;
  margin: 10px;
}

.empty-page {
  border-spacing: 24px;
}

.empty-page button.suggested-action {
  padding: 10px 50px;
  border-radius: 10000px;
  font-weight: 600;
  font-size: 120%;
}

.state-editor grid {
  border-spacing: 10px;
  margin: 10px;
}

.state-editor .buttons {
  border-spacing: 10px;
  margin: 10px;
}
