[Desktop Entry]
Name=Icon Editor
Comment=An application that edits icons
Exec=gtk4-icon-editor
Icon=org.gtk.Shaper
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;GTK;
MimeType=image/svg+xml;image/x-gtk-path-animation;
