/* Make the text editor has a nice style */
.view {
  color: #2e3436;
  font: Monospace;
  background-color: alpha(white, 0.30);
}

.view:selected {
  color: white;
  background-color: #4a90d9;
}

.scrollbar.trough,
.scrollbars-junction {
  background-color: alpha(white, 0.80);
}

.scrollbar.slider {
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  border-color: transparent;
  background-clip: padding-box;
  background-color: #999;
}

.scrollbar.slider:prelight {
  background-color: #555;
}

.pane-separator {
  background-color: alpha(white, 0.80);
  background-image: linear-gradient(transparent, transparent 1px, #999 1px, #999 4px, transparent 4px);
  background-size: 40px auto;
  background-repeat: no-repeat;
  background-position: center;
}

.pane-separator:prelight {
  background-image: linear-gradient(transparent, transparent 1px, #555 1px, #555 4px, transparent 4px);
}
