GtkButton#fancy {
    transition: none;
    background-image: linear-gradient(to bottom,
                                      alpha(white, 0.7),
                                      alpha(white, 0) 30%),
                      linear-gradient(to top,
                                      alpha(#babdb6, 0.4),
                                      alpha(#babdb6, 0) 50%),
                      linear-gradient(135deg,
                                      #eeeeec,
                                      white 20%,
                                      #d3d7cf,
                                      white 80%,
                                      #babdb6);
    color: #3465a4;
    font-weight: bold;
    text-shadow: 0 1px white;
}

GtkButton#fancy:hover {
    transition: all 250ms linear;
    background-image: linear-gradient(to bottom,
                                      alpha(white, 1),
                                      alpha(white, 0)),
                      linear-gradient(135deg,
                                      #eeeeec 10%,
                                      white 40%,
                                      #d3d7cf,
                                      white 70%,
                                      #babdb6);
    color: #204a87;
}

GtkButton#fancy:active,
GtkButton#fancy:active:hover {
    transition: none;
    background-image: linear-gradient(to bottom,
                                      alpha(#555753, 0.5),
                                      alpha(#babdb6, 0.3)),
                      linear-gradient(135deg,
                                      #eeeeec,
                                      white 20%,
                                      #d3d7cf,
                                      white 80%,
                                      #babdb6);
    color: white;
    text-shadow: 0 1px black;
}

GtkButton#fancy:backdrop,
GtkButton#fancy:backdrop:hover {
    transition: none;
    background-image: linear-gradient(135deg,
                                      alpha(#eeeeec, 0.5) 10%,
                                      alpha(white, 0.5) 40%,
                                      alpha(#d3d7cf, 0.5),
                                      alpha(white, 0.5) 70%,
                                      alpha(#babdb6, 0.5));
    color: #babdb6;
}

GtkButton#fancy * {
    /* Yeah this should be inherited by default */
    color: inherit;
}
