.toolbar {
  padding: 10px;
}
box.sidebar {
  padding: 20px;
  border-spacing: 20px;
}
colorpicker > grid,
fontcolors .custom-colors,
fontvariations > grid {
  border-spacing: 10px;
}
.sidebar box.row,
fontcolors > grid {
  border-spacing: 10px;
}
button.fontpicker {
  padding: 0;
  border: none;
  min-width: 16px;
  min-height: 16px;
}

button.fontpicker > colorswatch,
button.fontpicker > colorswatch > overlay {
  border-radius: 0;
}
