window.devel headerbar {
    background: #cbd2d9 -gtk-icontheme("system-run-symbolic") 70% 0/64px 64px no-repeat, linear-gradient(to left, #a5b1bd 0%, #a5b1bd 8%, @theme_bg_color 25%);
    box-shadow: inset 0 1px #f1f3f5;
    border-color: #909fae;
    color: rgba(46, 52, 54, 0.2);
}

window.devel headerbar label {
    color: @theme_fg_color;
}
