a {
  animation-duration: initial;
}

b {
  animation-duration: inherit;
}

c {
  animation-duration: unset;
}

d {
  animation-duration: 0;
}

e {
  animation-duration: 0.0050000000000000001s;
}

f {
  animation-duration: 0.0050000000000000001s, 6s;
}
