a {
  animation-play-state: initial;
}

b {
  animation-play-state: inherit;
}

c {
  animation-play-state: unset;
}

d {
  animation-play-state: running;
}

e {
  animation-play-state: running, paused, running, paused;
}
