a {
  animation-delay: initial;
}

b {
  animation-delay: inherit;
}

c {
  animation-delay: unset;
}

d {
  animation-delay: 0;
}

e {
  animation-delay: 0.0050000000000000001s;
}

f {
  animation-delay: 0.0050000000000000001s, 6s;
}
