a {
  animation-fill-mode: initial;
}

b {
  animation-fill-mode: inherit;
}

c {
  animation-fill-mode: unset;
}

d {
  animation-fill-mode: none;
}

e {
  animation-fill-mode: none, forwards, backwards, both;
}
