a {
  animation-duration: initial;
}

b {
  animation-duration: inherit;
}

c {
  animation-duration: unset;
}

d {
  animation-duration: 0;
}

e {
  animation-duration: 5ms;
}

f {
  animation-duration: 5ms, 6s;
}
