a {
  animation-delay: 0, 0;
  animation-direction: normal, normal;
  animation-duration: 0, 0;
  animation-fill-mode: forwards, backwards;
  animation-iteration-count: 1, 1;
  animation-name: foo, bar;
  animation-timing-function: ease, ease;
}
