a {
  background-position: top;
}

b {
  background-position: top top;
}

c {
  background-position: top left;
}

d {
  background-position: top right;
}

e {
  background-position: top bottom;
}

f {
  background-position: top center;
}

g {
  background-position: top 25%;
}

h {
  background-position: left;
}

i {
  background-position: left top;
}

j {
  background-position: left left;
}

k {
  background-position: left right;
}

l {
  background-position: left bottom;
}

m {
  background-position: left center;
}

n {
  background-position: left 25%;
}

o {
  background-position: right;
}

p {
  background-position: right top;
}

q {
  background-position: right left;
}

r {
  background-position: right right;
}

s {
  background-position: right bottom;
}

t {
  background-position: right center;
}

u {
  background-position: right 25%;
}

v {
  background-position: bottom;
}

w {
  background-position: bottom top;
}

x {
  background-position: bottom left;
}

y {
  background-position: bottom right;
}

z {
  background-position: bottom bottom;
}

ab {
  background-position: bottom center;
}

bb {
  background-position: bottom 25%;
}

cb {
  background-position: center;
}

db {
  background-position: center top;
}

eb {
  background-position: center left;
}

fb {
  background-position: center right;
}

gb {
  background-position: center bottom;
}

hb {
  background-position: center center;
}

ib {
  background-position: center 25%;
}

jb {
  background-position: 25%;
}

kb {
  background-position: 25% top;
}

lb {
  background-position: 25% left;
}

mb {
  background-position: 25% right;
}

nb {
  background-position: 25% bottom;
}

ob {
  background-position: 25% center;
}

pb {
  background-position: 25% 25%;
}
