a {
  background-clip: initial;
}

b {
  background-clip: inherit;
}

c {
  background-clip: unset;
}

d {
  background-clip: border-box;
}

e {
  background-clip: padding-box;
}

f {
  background-clip: content-box;
}

g {
  background-clip: border-box, border-box, content-box;
}
