a {
  background-origin: initial;
}

b {
  background-origin: inherit;
}

c {
  background-origin: unset;
}

d {
  background-origin: border-box;
}

e {
  background-origin: padding-box;
}

f {
  background-origin: content-box;
}

g {
  background-origin: border-box, border-box, content-box;
}
