a {
  boolean-property: true;
}

b {
  boolean-property: true;
}

c {
  boolean-property: true;
}

d {
  boolean-property: true;
}

e {
  boolean-property: false;
}

f {
  boolean-property: false;
}

g {
  boolean-property: false;
}

h {
  boolean-property: false;
}
