a {
  border-bottom-width: initial;
  border-left-width: initial;
  border-right-width: initial;
  border-top-width: initial;
}

b {
  border-bottom-width: inherit;
  border-left-width: inherit;
  border-right-width: inherit;
  border-top-width: inherit;
}

c {
  border-bottom-width: unset;
  border-left-width: unset;
  border-right-width: unset;
  border-top-width: unset;
}

d {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
}

e {
  border-bottom-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-top-width: 10px;
}
