a {
  border-image-width: initial;
}

b {
  border-image-width: inherit;
}

c {
  border-image-width: unset;
}

d {
  border-image-width: 1;
}

e {
  border-image-width: 1;
}

f {
  border-image-width: 1 2;
}

g {
  border-image-width: 1 2 3;
}

h {
  border-image-width: 1 2 3 4;
}

i {
  border-image-width: 1px;
}

j {
  border-image-width: 1px 2px;
}

k {
  border-image-width: 1px 2px 3px;
}

l {
  border-image-width: 1px 2px 3px 4px;
}

m {
  border-image-width: 1%;
}

n {
  border-image-width: 1% 2%;
}

o {
  border-image-width: 1% 2% 3%;
}

p {
  border-image-width: 1% 2% 3% 4%;
}

q {
  border-image-width: auto;
}

r {
  border-image-width: 1 2px 3% auto;
}
