a {
  border-image-source: initial;
}

b {
  border-image-source: inherit;
}

c {
  border-image-source: unset;
}

d {
  border-image-source: none;
}

e {
  border-image-source: linear-gradient(rgb(255,255,0), rgb(0,0,255));
}
