a {
  border-right: solid 3px pink;
}

b {
  border-bottom: solid 3px;
}

c {
  border-right: solid pink 3px;
  border-bottom: solid pink;
}

d {
  border-bottom: solid;
  border: 3px solid pink;
}

e {
  border-top: 3px solid;
}

f {
  border-right: 3px pink solid;
  border-bottom: 3px pink;
  border-top: 3px;
  border: pink solid 3px;
  border-bottom: pink solid;
  border-right: pink 3px solid;
  border: pink 3px;
}

g {
  border-bottom: pink;
}

h {
  border-top: solid 3px pink;
}

i {
  border-bottom: solid 3px;
  border-right: solid pink 3px;
  border-right: solid pink;
}

j {
  border-bottom: solid;
}

k {
  border-bottom: 3px solid pink;
}

l {
  border: 3px solid;
}

m {
  border-left: 3px pink solid;
  border-bottom: 3px pink;
  border-top: 3px;
  border-top: pink solid 3px;
  border-bottom: pink solid;
}

n {
  border: pink 3px solid;
}

o {
  border-top: pink 3px;
  border-top: pink;
}
p {
  border-bottom: solid 3px pink;
  border-right: solid 3px;
}

q {
  border: solid pink 3px;
}

r {
  border-left: solid pink;
  border-bottom: solid;
  border-left: 3px solid pink;
  border-right: 3px solid;
}

s {
  border-top: 3px pink solid;
  border: 3px pink;
}

t {
  border-left: 3px;
  border-right: pink solid 3px;
  border: pink solid;
}

u {
  border-bottom: pink 3px solid;
}

v {
  border-top: pink 3px;
}

w {
  border-top: pink;
}
x {
  border-top: solid 3px pink;
}

y {
  border-right: solid 3px;
  border-bottom: solid pink 3px;
}

z {
  border-left: solid pink;
}

ab {
  border-right: solid;
  border-top: 3px solid pink;
}

bb {
  border-bottom: 3px solid;
}

cb {
  border-left: 3px pink solid;
}

db {
  border-bottom: 3px pink;
}

eb {
  border-left: 3px;
}

fb {
  border-right: pink solid 3px;
  border-top: pink solid;
}

gb {
  border-top: pink 3px solid;
  border-right: pink 3px;
}

hb {
  border-left: pink;
}

ib {
  border-right: solid 3px pink;
  border-bottom: solid 3px;
}

jb {
  border-bottom: solid pink 3px;
}

kb {
  border-left: solid pink;
  border: solid;
  border-top: 3px solid pink;
}

lb {
  border-top: 3px solid;
  border-top: 3px pink solid;
}

mb {
  border-right: 3px pink;
}

nb {
  border-top: 3px;
}

ob {
  border-top: pink solid 3px;
  border-bottom: pink solid;
  border-left: pink 3px solid;
}

pb {
  border-bottom: pink 3px;
  border-top: pink;
}

qb {
  border: solid 3px pink;
  border-left: solid 3px;
}

rb {
  border-right: solid pink 3px;
}

sb {
  border-right: solid pink;
}

tb {
  border-top: solid;
}

ub {
  border: 3px solid pink;
}

vb {
  border-right: 3px solid;
}

wb {
  border: 3px pink solid;
}

xb {
  border: 3px pink;
  border-right: 3px;
  border-bottom: pink solid 3px;
}

yb {
  border-bottom: pink solid;
}

zb {
  border-left: pink 3px solid;
  border-bottom: pink 3px;
}

ac {
  border: pink;
}

bc {
  border: solid 3px pink;
  border-top: solid 3px;
}

cc {
  border-top: solid pink 3px;
  border-left: solid pink;
  border-left: solid;
  border-left: 3px solid pink;
  border: 3px solid;
}

dc {
  border-left: 3px pink solid;
}

ec {
  border-left: 3px pink;
  border-top: 3px;
  border-bottom: pink solid 3px;
  border-bottom: pink solid;
  border-left: pink 3px solid;
}

fc {
  border-bottom: pink 3px;
}

gc {
  border-top: pink;
}

hc {
  border-bottom: solid 3px pink;
}

ic {
  border-bottom: solid 3px;
}

jc {
  border-right: solid pink 3px;
  border-right: solid pink;
  border-top: solid;
  border: 3px solid pink;
  border-bottom: 3px solid;
}

kc {
  border-bottom: 3px pink solid;
  border-left: 3px pink;
}

lc {
  border: 3px;
  border-right: pink solid 3px;
}

mc {
  border-bottom: pink solid;
  border-top: pink 3px solid;
}

nc {
  border: pink 3px;
  border-right: pink;
}
oc {
  border-top: solid 3px pink;
  border-bottom: solid 3px;
  border-left: solid pink 3px;
  border: solid pink;
  border-bottom: solid;
  border-bottom: 3px solid pink;
  border-top: 3px solid;
  border-left: 3px pink solid;
}

pc {
  border: 3px pink;
  border-top: 3px;
}

qc {
  border-right: pink solid 3px;
  border: pink solid;
  border-right: pink 3px solid;
}

rc {
  border: pink 3px;
}

sc {
  border-bottom: pink;
}

