a {
  border-bottom-color: initial;
  border-left-color: initial;
  border-right-color: initial;
  border-top-color: initial;
}

b {
  border-bottom-color: inherit;
  border-left-color: inherit;
  border-right-color: inherit;
  border-top-color: inherit;
}

c {
  border-bottom-color: unset;
  border-left-color: unset;
  border-right-color: unset;
  border-top-color: unset;
}

d {
  border-bottom-color: currentColor;
  border-left-color: currentColor;
  border-right-color: currentColor;
  border-top-color: currentColor;
}

e {
  border-bottom-color: rgb(128,128,0);
  border-left-color: rgb(128,128,0);
  border-right-color: rgb(128,128,0);
  border-top-color: rgb(128,128,0);
}
