a {
  border-image-slice: initial;
}

b {
  border-image-slice: inherit;
}

c {
  border-image-slice: unset;
}

d {
  border-image-slice: 10;
}

e {
  border-image-slice: 10 11;
}

f {
  border-image-slice: 10 11 12;
}

f {
  border-image-slice: 10 11 12 13;
}

g {
  border-image-slice: 10%;
}

h {
  border-image-slice: 10% 11%;
}

i {
  border-image-slice: 10% 11% 12%;
}

j {
  border-image-slice: 10% 11% 12% 13%;
}

k {
  border-image-slice: 10% 11% 12% fill;
}

l {
  border-image-slice: 10% 11 12 fill;
}
