a {
  border-bottom-style: initial;
  border-left-style: initial;
  border-right-style: initial;
  border-top-style: initial;
}

b {
  border-bottom-style: inherit;
  border-left-style: inherit;
  border-right-style: inherit;
  border-top-style: inherit;
}

c {
  border-bottom-style: unset;
  border-left-style: unset;
  border-right-style: unset;
  border-top-style: unset;
}

d {
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
}

e {
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-top-style: solid;
}

f {
  border-bottom-style: inset;
  border-left-style: inset;
  border-right-style: inset;
  border-top-style: inset;
}

g {
  border-bottom-style: outset;
  border-left-style: outset;
  border-right-style: outset;
  border-top-style: outset;
}

h {
  border-bottom-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-top-style: hidden;
}

i {
  border-bottom-style: dotted;
  border-left-style: dotted;
  border-right-style: dotted;
  border-top-style: dotted;
}

j {
  border-bottom-style: dashed;
  border-left-style: dashed;
  border-right-style: dashed;
  border-top-style: dashed;
}

k {
  border-bottom-style: double;
  border-left-style: double;
  border-right-style: double;
  border-top-style: double;
}

l {
  border-bottom-style: groove;
  border-left-style: groove;
  border-right-style: groove;
  border-top-style: groove;
}

m {
  border-bottom-style: ridge;
  border-left-style: ridge;
  border-right-style: ridge;
  border-top-style: ridge;
}
