a {
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

b {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 1px;
  border-top-left-radius: 1px;
  border-top-right-radius: 2px;
}

c {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 1px;
  border-top-right-radius: 2px;
}

d {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 1px;
  border-top-right-radius: 2px;
}

e {
  border-bottom-left-radius: 4px 5px;
  border-bottom-right-radius: 3px 5px;
  border-top-left-radius: 1px 5px;
  border-top-right-radius: 2px 5px;
}

f {
  border-bottom-left-radius: 4px 6px;
  border-bottom-right-radius: 3px 5px;
  border-top-left-radius: 1px 5px;
  border-top-right-radius: 2px 6px;
}

g {
  border-bottom-left-radius: 4px 6px;
  border-bottom-right-radius: 3px 7px;
  border-top-left-radius: 1px 5px;
  border-top-right-radius: 2px 6px;
}

h {
  border-bottom-left-radius: 4px 8px;
  border-bottom-right-radius: 3px 7px;
  border-top-left-radius: 1px 5px;
  border-top-right-radius: 2px 6px;
}

i {
  border-bottom-left-radius: 1.125px 5.5px;
  border-bottom-right-radius: 1.125px 5.5px;
  border-top-left-radius: 1.125px 5.5px;
  border-top-right-radius: 1.125px 5.5px;
}

j {
  border-bottom-left-radius: 2.25px 5px;
  border-bottom-right-radius: 1px 5px;
  border-top-left-radius: 1px 5px;
  border-top-right-radius: 2.25px 5px;
}

k {
  border-bottom-left-radius: 2px 6.75px;
  border-bottom-right-radius: 3.5px 5.5px;
  border-top-left-radius: 1px 5.5px;
  border-top-right-radius: 2px 6.75px;
}

l {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

m {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

n {
  border-bottom-left-radius: 0 1px;
  border-bottom-right-radius: 0 1px;
  border-top-left-radius: 0 1px;
  border-top-right-radius: 0 1px;
}

o {
  border-bottom-left-radius: 1px 0;
  border-bottom-right-radius: 1px 0;
  border-top-left-radius: 1px 0;
  border-top-right-radius: 1px 0;
}
