a {
  box-shadow: initial;
}

b {
  box-shadow: inherit;
}

c {
  box-shadow: unset;
}

d {
  box-shadow: none;
}

e {
  box-shadow: 1px 2px currentColor;
}

f {
  box-shadow: 1px 2px 3px currentColor;
}

g {
  box-shadow: 1px 2px 3px 4px currentColor;
}

h {
  box-shadow: 1px 2px rgb(255,0,0);
}

i {
  box-shadow: 0 1px rgb(0,128,0) inset, 2px 3px 4px rgb(0,0,255);
}
