a {
  margin-left: calc(3px + 1em);
}

b {
  transition-duration: calc(1s - 100ms + -100ms);
}

c {
  margin-left: calc(-2px + 1em +    4px);
}

d {
  background-size: calc( 100% - 10px );
}

e {
  border-left-width: calc(1px + 1px);
}
