a {
  margin: calc(1px) calc(0px) calc(-3px);
}

b {
  background-position: calc(50%) calc(0%);
}

c {
  background-image: linear-gradient(calc(45deg), red calc(0%), green calc(100%));
}

d {
  border-radius: calc(1px) calc(2px) / calc(1em) calc(2em) calc(3em);
}

e {
  border-top-left-radius: calc(50%);
}

f {
  border-image-source: radial-gradient(circle calc(20px) at calc(50%) calc(25%), red calc(0%), blue calc(100%));
}

g {
  border-left: calc(1px);
}

h {
  border-right: red calc(2px);
}
