a {
  color: rgb(255,0,0);
}

b {
  color: rgb(255,0,0);
}

c {
  color: rgb(255,0,0);
}

d {
  color: rgb(255,0,0);
}

e {
  color: rgb(255,0,0);
}

f {
  color: rgb(255,0,0);
}

g {
  color: rgb(255,0,0);
}

h {
  color: rgb(255,0,0);
}

i {
  color: rgb(255,0,0);
}

j {
  color: rgb(255,0,0);
}

k {
  color: rgb(255,0,0);
}

l {
  color: rgb(255,0,0);
}

m {
  color: rgb(255,0,0);
}

n {
  color: rgb(255,0,0);
}

o {
  color: rgb(255,0,0);
}
