a {
  color: red;
}

b {
  color: rgba(255,0,0,1.0);
}

c {
  color: rgb(255,0,0);
}

d {
  color: rgba(100%,0%,0%,1);
}

e {
  color: rgb(100%,0,0);
}

f {
  color: #f00;
}

g {
  color: #ff0000;
}

h {
  color: #F00;
}

i {
  color: #fF0000;
}

j {
  color: rgba( 255 , 0 , 0 , 1 ) ;
}

k {
  color: rgb( 255 , 0 , 0 ) ;
}

l {
  color:/*x*/rgba(/*x*/255/*x*/,/*x*/0/*x*/,/*x*/0/*x*/,/*x*/1/*x*/)/*x*/;
}

m {
  color:/*x*/rgb(/*x*/255/*x*/,/*x*/0/*x*/,/*x*/0/*x*/)/*x*/;
}

n {
  color: /*x*/ rgba( /*x*/ 255 /*x*/ , /*x*/ 0 /*x*/ , /*x*/ 0 /*x*/ , /*x*/ 1 /*x*/ ) /*x*/ ;
}

o {
  color: /*x*/ rgb( /*x*/ 255 /*x*/ , /*x*/ 0 /*x*/ , /*x*/ 0 /*x*/ ) /*x*/ ;
}
