@define-color mygreen rgb(0,1,0);

a {
  color: initial;
}

b {
  color: inherit;
}

c {
  color: unset;
}

d {
  color: currentColor;
}

e {
  color: rgba(0,0,0,0);
}

f {
  color: rgb(255,0,0);
}

g {
  color: rgb(0,1,0);
}

h {
  color: rgb(1,0,1);
}

i {
  color: rgb(170,187,204);
}

j {
  color: rgba(0,17,34,0.2);
}

k {
  color: rgb(1,35,69);
}

l {
  color: rgba(255,238,221,0.8);
}

m {
  color: rgb(255,76,76);
}

n {
  color: rgb(152,27,27);
}

o {
  color: rgb(16,48,16);
}

p {
  color: rgba(0,128,0,0.5);
}

q {
  color: rgb(191,0,64);
}

r {
  color: @mygreen;
}
