a {
  color: #1;
}

b {
  color: #12;
}

c {
  color: #12345;
}

d {
  color: #1234567;
}

e {
  color: notacolorname;
}

f {
  color: rgb(1,2,3,4);
}

g {
  color: rgba(1,2,3,4,5);
}

h {
  color: rgb(100%,0,0);
}

