p {
  color: rgb(0,128,0);
}

p {
  color: rgb(0,128,0);
}

p {
  color: rgb(0,128,0);
}

p {
  color: rgb(0,128,0);
}

p {
  color: rgb(0,128,0);
}

p {
  color: rgb(0,128,0);
}

p {
  color: rgb(0,128,0);
}
