a {
  color: rgb(0,128,0);
}

b {
  color: rgb(0,128,0);
}

c {
  color: rgb(0,128,0);
}

d {
  color: rgb(0,128,0);
}

e {
  color: rgb(0,128,0);
}

f {
  color: rgb(0,128,0);
}

g {
  color: rgb(0,128,0);
}
