@define-color some-color currentColor;

a {
  color: currentColor;
}

b {
  color: shade(currentColor, 1.5);
}

c {
  color: alpha(currentColor, 0.5);
}

d {
  color: mix(currentColor, @some-color, 0.5);
}

e {
  color: mix(@some-color, currentColor, 0.5);
}

f {
  color: color-mix(in srgb, red 40%, currentColor 60%);
}

g {
  color: color(from currentcolor srgb r g b / calc(alpha / 2));
}
