a {
  color: currentColor;
}

b {
  color: shade(currentColor, 1.5);
}

c {
  color: alpha(currentColor, 0.5);
}

d {
  color: mix(currentColor, pink, 0.5);
}

e {
  color: mix(pink, currentColor, 0.5);
}
