d {
  margin-top: 42px;
}

e {
  margin-top: 42px;
  padding-top: 42px;
}

f {
  margin-top: 42px;
}

g {
  margin-top: 42px;
}

i {
  padding-top: 42px;
}

m {
  padding-top: 42px;
}

n {
  padding-top: 42px;
}
