.class {
  color: rgb(255,0,0);
}

:focus {
  color: rgb(255,0,0);
}

:nth-child(even) {
  color: rgb(255,0,0);
}

.class.class {
  color: rgb(255,0,0);
}

:focus:focus {
  color: rgb(255,0,0);
}

:nth-child(even):nth-child(even):nth-child(even) {
  color: rgb(255,0,0);
}

#name {
  color: rgb(255,0,0);
}

#name#name#name {
  color: rgb(255,0,0);
}
