a {
  font-stretch: initial;
}

b {
  font-stretch: inherit;
}

c {
  font-stretch: unset;
}

d {
  font-stretch: ultra-condensed;
}

e {
  font-stretch: extra-condensed;
}

f {
  font-stretch: condensed;
}

g {
  font-stretch: semi-condensed;
}

h {
  font-stretch: normal;
}

i {
  font-stretch: semi-expanded;
}

j {
  font-stretch: expanded;
}

k {
  font-stretch: extra-expanded;
}

l {
  font-stretch: ultra-expanded;
}
