a {
  font-weight: initial;
}

b {
  font-weight: inherit;
}

c {
  font-weight: unset;
}

d {
  font-weight: normal;
}

e {
  font-weight: bold;
}

f {
  font-weight: bolder;
}

g {
  font-weight: lighter;
}

h {
  font-weight: 100;
}

i {
  font-weight: 200;
}

j {
  font-weight: 300;
}

k {
  font-weight: normal;
}

l {
  font-weight: 500;
}

m {
  font-weight: 600;
}

n {
  font-weight: bold;
}

o {
  font-weight: 800;
}

p {
  font-weight: 900;
}
