a {
  font-size: initial;
}

b {
  font-size: inherit;
}

c {
  font-size: unset;
}

d {
  font-size: xx-small;
}

e {
  font-size: x-small;
}

f {
  font-size: small;
}

g {
  font-size: medium;
}

h {
  font-size: large;
}

i {
  font-size: x-large;
}

j {
  font-size: xx-large;
}

k {
  font-size: larger;
}

l {
  font-size: smaller;
}

m {
  font-size: 5px;
}

n {
  font-size: 5pt;
}

o {
  font-size: 5em;
}

p {
  font-size: 5ex;
}

q {
  font-size: 5in;
}

r {
  font-size: 5cm;
}

s {
  font-size: 5mm;
}

t {
  font-size: 50%;
}
