a {
  font-feature-settings: initial;
}

b {
  font-feature-settings: inherit;
}

c {
  font-feature-settings: unset;
}

e {
  font-feature-settings: normal;
}

f {
  font-feature-settings: "dlig" 1, "c2sc" 0, "swsh" 2;
}
