a {
  color: rgb(0,0,0);
}

b {
  color: rgb(0,255,0);
}

c {
  color: rgb(255,0,0);
}

d {
  color: rgb(191,161,64);
}

e {
  color: rgba(0,0,0,0.5);
}

g {
  color: rgb(0,255,0);
}

h {
  color: rgba(0,255,0,0.5);
}

i {
  color: rgb(0,255,255);
}

j {
  color: rgb(0,255,255);
}

k {
  color: rgba(128,0,255,0.5);
}

l {
  color: rgb(0,255,255);
}
