a {
  color: hsl(0, 0%, 0%);
}

b {
  color: hsl(120, 100%, 50%);
}

c {
  color: hsl(360, 100%, 50%);
}

d {
  color: hsl(-314.159, 50%, 50%);
}

e {
  color: hsl(0, 0%, 0%, 0.5);
}

f {
  color: hsl(1, 2, 3);
}
