a {
  opacity: 0;
}
b {
  opacity: 1;
}
c {
  opacity: -1;
}
d {
  opacity: 2147483647;
}
e {
  opacity: -2147483648;
}
f {
  opacity: 1.0;
}
g {
  opacity: 3px;
}
h {
  opacity: 0xFF;
}
i {
  opacity: 0377;
}
j {
  opacity: nonumber;
}
k {
  opacity: "42";
}
l {
  opacity: +3;
}
m {
  opacity: --5;
}
n {
  opacity: - 10;
}
