a {
  margin-top: 0;
}
b {
  margin-top: 1;
}
c {
  margin-top: -1;
}
d {
  margin-top: 2147483647;
}
e {
  margin-top: -2147483648;
}
f {
  margin-top: 1.0;
}
g {
  margin-top: 3px;
}
h {
  margin-top: 0xFF;
}
i {
  margin-top: 0377;
}
j {
  margin-top: nonumber;
}
k {
  margin-top: "42";
}
l {
  margin-top: +3;
}
m {
  margin-top: --5;
}
n {
  margin-top: - 10;
}
