a {
  background-image: linear-gradient(red, blue);
  border-image-source: repeating-linear-gradient(red, blue);
}

b {
  background-image: linear-gradient(to top, red, blue);
  border-image-source: repeating-linear-gradient(to top, red, blue);
}

c {
  background-image: linear-gradient(to bottom, red, blue);
  border-image-source: repeating-linear-gradient(to bottom, red, blue);
}

d {
  background-image: linear-gradient(to left, red, blue);
  border-image-source: repeating-linear-gradient(to left, red, blue);
}

e {
  background-image: linear-gradient(to right, red, blue);
  border-image-source: repeating-linear-gradient(to right, red, blue);
}

f {
  background-image: linear-gradient(to bottom left, red, blue);
  border-image-source: repeating-linear-gradient(to bottom left, red, blue);
}

g {
  background-image: linear-gradient(to right bottom, red, blue);
  border-image-source: repeating-linear-gradient(to right bottom, red, blue);
}

h {
  background-image: linear-gradient(to top right, red, blue);
  border-image-source: repeating-linear-gradient(to top right, red, blue);
}

i {
  background-image: linear-gradient(to left bottom, red, blue);
  border-image-source: repeating-linear-gradient(to left bottom, red, blue);
}

j {
  background-image: linear-gradient(1turn, red, blue);
  border-image-source: repeating-linear-gradient(1turn, red, blue);
}

k {
  background-image: linear-gradient(-0.25turn, red, blue);
  border-image-source: repeating-linear-gradient(-0.25turn, red, blue);
}

l {
  background-image: linear-gradient(3.125deg, red, blue);
  border-image-source: repeating-linear-gradient(3.125deg, red, blue);
}

m {
  background-image: linear-gradient(90.0rad, red, blue);
  border-image-source: repeating-linear-gradient(90.0rad, red, blue);
}

n {
  background-image: linear-gradient(-100grad, red, blue);
  border-image-source: repeating-linear-gradient(-100grad, red, blue);
}

o {
  background-image: linear-gradient(red, green, blue);
  border-image-source: repeating-linear-gradient(red, green, blue);
}

p {
  background-image: linear-gradient(red -50%, green, blue 150%);
  border-image-source: repeating-linear-gradient(red -50%, green, blue 150%);
}

q {
  background-image: linear-gradient(red -50%, green, blue 150%);
  border-image-source: repeating-linear-gradient(red -50%, green, blue 150%);
}

r {
  background-image: linear-gradient(red 1px, green 2em);
  border-image-source: repeating-linear-gradient(red 1px, green 2em);
}

s {
  background-image: linear-gradient(red, green 2px, blue);
  border-image-source: repeating-linear-gradient(red, green 2px, blue);
}

t {
  background-image: linear-gradient(red, green, blue, purple, pink, yellow, black, orange);
  border-image-source: repeating-linear-gradient(red, green, blue, purple, pink, yellow, black, orange);
}

u {
  background-image: linear-gradient(red -5px, green 20em, blue, purple -42%, pink 3pt);
  border-image-source: repeating-linear-gradient(red -5px, green 20em, blue, purple -42%, pink 3pt);
}
