:not(*) {
  font-size: 1px;
}

:not(*) {
  font-size: 6px;
}

:not(*) {
  font-size: 11px;
}

:not(*) {
  font-size: 16px;
}

:not(GtkButton) {
  font-size: 2px;
}

:not(GtkButton) {
  font-size: 7px;
}

:not(GtkButton) {
  font-size: 12px;
}

:not(GtkButton) {
  font-size: 17px;
}

:not(:hover) {
  font-size: 3px;
}

:not(.yourmom) {
  font-size: 4px;
}

:not(:hover) {
  font-size: 8px;
}

:not(.yourmom) {
  font-size: 9px;
}

:not(:hover) {
  font-size: 13px;
}

:not(.yourmom) {
  font-size: 14px;
}

:not(:hover) {
  font-size: 18px;
}

:not(.yourmom) {
  font-size: 19px;
}

:not(#yourmom) {
  font-size: 5px;
}

:not(#yourmom) {
  font-size: 10px;
}

:not(#yourmom) {
  font-size: 15px;
}

:not(#yourmom) {
  font-size: 20px;
}
