:not(*) {
  color: rgb(255,99,71);
}

:not(GtkButton) {
  color: rgb(255,99,71);
}

:not(:hover) {
  color: rgb(255,99,71);
}

:not(.yourmom) {
  color: rgb(255,99,71);
}

:not(#yourmom) {
  color: rgb(255,99,71);
}

:not(*) {
  color: rgb(255,99,71);
}

:not(GtkButton) {
  color: rgb(255,99,71);
}

:not(:hover) {
  color: rgb(255,99,71);
}

:not(.yourmom) {
  color: rgb(255,99,71);
}

:not(#yourmom) {
  color: rgb(255,99,71);
}

:not(*) {
  color: rgb(255,99,71);
}

:not(GtkButton) {
  color: rgb(255,99,71);
}

:not(:hover) {
  color: rgb(255,99,71);
}

:not(.yourmom) {
  color: rgb(255,99,71);
}

:not(#yourmom) {
  color: rgb(255,99,71);
}

:not(*) {
  color: rgb(255,99,71);
}

:not(GtkButton) {
  color: rgb(255,99,71);
}

:not(:hover) {
  color: rgb(255,99,71);
}

:not(.yourmom) {
  color: rgb(255,99,71);
}

:not(#yourmom) {
  color: rgb(255,99,71);
}

