a:nth-last-child(odd) {
  color: rgb(255,0,0);
}

a:nth-child(even) {
  color: rgb(255,0,0);
}

b:nth-child(n) {
  color: rgb(255,0,0);
}

c:nth-child(n) {
  color: rgb(255,0,0);
}

d:nth-child(n+1) {
  color: rgb(255,0,0);
}

e:nth-child(n+2) {
  color: rgb(255,0,0);
}

f:nth-last-child(n+10) {
  color: rgb(255,0,0);
}

g:nth-child(n) {
  color: rgb(255,0,0);
}

h:nth-child(n) {
  color: rgb(255,0,0);
}

i:nth-child(n-1) {
  color: rgb(255,0,0);
}

j:nth-child(n-2) {
  color: rgb(255,0,0);
}

k:nth-last-child(n-10) {
  color: rgb(255,0,0);
}

l:nth-last-child(0) {
  color: rgb(255,0,0);
}

m:nth-child(0) {
  color: rgb(255,0,0);
}

n:nth-last-child(0) {
  color: rgb(255,0,0);
}

o:last-child {
  color: rgb(255,0,0);
}

p:nth-last-child(2) {
  color: rgb(255,0,0);
}

q:nth-last-child(10) {
  color: rgb(255,0,0);
}

r:nth-child(0) {
  color: rgb(255,0,0);
}

s:nth-child(0) {
  color: rgb(255,0,0);
}

t:nth-last-child(-1) {
  color: rgb(255,0,0);
}

u:nth-last-child(-2) {
  color: rgb(255,0,0);
}

v:nth-last-child(-10) {
  color: rgb(255,0,0);
}

w:last-child {
  color: rgb(255,0,0);
}

x:nth-child(n) {
  color: rgb(255,0,0);
}

y:nth-child(n) {
  color: rgb(255,0,0);
}

z:nth-child(n+1) {
  color: rgb(255,0,0);
}

ab:nth-child(n+2) {
  color: rgb(255,0,0);
}

bb:nth-last-child(n+10) {
  color: rgb(255,0,0);
}

cb:nth-last-child(n) {
  color: rgb(255,0,0);
}

db:nth-last-child(n) {
  color: rgb(255,0,0);
}

eb:nth-child(n-1) {
  color: rgb(255,0,0);
}

fb:nth-child(n-2) {
  color: rgb(255,0,0);
}

gb:nth-child(n-10) {
  color: rgb(255,0,0);
}

hb:nth-last-child(2) {
  color: rgb(255,0,0);
}

ib:nth-child(even) {
  color: rgb(255,0,0);
}

jb:nth-last-child(even) {
  color: rgb(255,0,0);
}

kb:nth-child(odd) {
  color: rgb(255,0,0);
}

lb:nth-child(2n+2) {
  color: rgb(255,0,0);
}

mb:nth-last-child(2n+10) {
  color: rgb(255,0,0);
}

nb:nth-last-child(even) {
  color: rgb(255,0,0);
}

ob:nth-child(even) {
  color: rgb(255,0,0);
}

pb:nth-last-child(2n-1) {
  color: rgb(255,0,0);
}

qb:nth-child(2n-2) {
  color: rgb(255,0,0);
}

rb:nth-last-child(2n-10) {
  color: rgb(255,0,0);
}

sb:nth-child(10) {
  color: rgb(255,0,0);
}

tb:nth-last-child(10n) {
  color: rgb(255,0,0);
}

ub:nth-last-child(10n) {
  color: rgb(255,0,0);
}

vb:nth-child(10n+1) {
  color: rgb(255,0,0);
}

wb:nth-last-child(10n+2) {
  color: rgb(255,0,0);
}

xb:nth-child(10n+10) {
  color: rgb(255,0,0);
}

yb:nth-last-child(10n) {
  color: rgb(255,0,0);
}

zb:nth-last-child(10n) {
  color: rgb(255,0,0);
}

ac:nth-last-child(10n-1) {
  color: rgb(255,0,0);
}

bc:nth-child(10n-2) {
  color: rgb(255,0,0);
}

cc:nth-child(10n-10) {
  color: rgb(255,0,0);
}

dc:nth-child(even) {
  color: rgb(255,0,0);
}

ec:nth-last-child(n) {
  color: rgb(255,0,0);
}

fc:nth-child(n) {
  color: rgb(255,0,0);
}

gc:nth-child(n+1) {
  color: rgb(255,0,0);
}

hc:nth-last-child(n+2) {
  color: rgb(255,0,0);
}

ic:nth-last-child(n+10) {
  color: rgb(255,0,0);
}

jc:nth-last-child(n) {
  color: rgb(255,0,0);
}

kc:nth-last-child(n) {
  color: rgb(255,0,0);
}

lc:nth-last-child(n-1) {
  color: rgb(255,0,0);
}

mc:nth-child(n-2) {
  color: rgb(255,0,0);
}

nc:nth-last-child(n-10) {
  color: rgb(255,0,0);
}

oc:nth-child(0) {
  color: rgb(255,0,0);
}

pc:nth-child(0) {
  color: rgb(255,0,0);
}

qc:nth-last-child(0) {
  color: rgb(255,0,0);
}

rc:last-child {
  color: rgb(255,0,0);
}

sc:nth-last-child(2) {
  color: rgb(255,0,0);
}

tc:nth-child(10) {
  color: rgb(255,0,0);
}

uc:nth-child(0) {
  color: rgb(255,0,0);
}

vc:nth-last-child(0) {
  color: rgb(255,0,0);
}

wc:nth-last-child(-1) {
  color: rgb(255,0,0);
}

xc:nth-child(-2) {
  color: rgb(255,0,0);
}

yc:nth-last-child(-10) {
  color: rgb(255,0,0);
}

zc:first-child {
  color: rgb(255,0,0);
}

ad:nth-child(n) {
  color: rgb(255,0,0);
}

bd:nth-last-child(n) {
  color: rgb(255,0,0);
}

cd:nth-child(n+1) {
  color: rgb(255,0,0);
}

dd:nth-child(n+2) {
  color: rgb(255,0,0);
}

ed:nth-child(n+10) {
  color: rgb(255,0,0);
}

fd:nth-child(n) {
  color: rgb(255,0,0);
}

gd:nth-child(n) {
  color: rgb(255,0,0);
}

hd:nth-child(n-1) {
  color: rgb(255,0,0);
}

id:nth-child(n-2) {
  color: rgb(255,0,0);
}

jd:nth-last-child(n-10) {
  color: rgb(255,0,0);
}

kd:nth-last-child(2) {
  color: rgb(255,0,0);
}

ld:nth-child(even) {
  color: rgb(255,0,0);
}

md:nth-last-child(even) {
  color: rgb(255,0,0);
}

nd:nth-child(odd) {
  color: rgb(255,0,0);
}

od:nth-child(2n+2) {
  color: rgb(255,0,0);
}

pd:nth-last-child(2n+10) {
  color: rgb(255,0,0);
}

qd:nth-last-child(even) {
  color: rgb(255,0,0);
}

rd:nth-child(even) {
  color: rgb(255,0,0);
}

sd:nth-child(2n-1) {
  color: rgb(255,0,0);
}

td:nth-last-child(2n-2) {
  color: rgb(255,0,0);
}

ud:nth-last-child(2n-10) {
  color: rgb(255,0,0);
}

vd:nth-last-child(10) {
  color: rgb(255,0,0);
}

wd:nth-child(10n) {
  color: rgb(255,0,0);
}

xd:nth-last-child(10n) {
  color: rgb(255,0,0);
}

yd:nth-last-child(10n+1) {
  color: rgb(255,0,0);
}

zd:nth-last-child(10n+2) {
  color: rgb(255,0,0);
}

ae:nth-last-child(10n+10) {
  color: rgb(255,0,0);
}

be:nth-last-child(10n) {
  color: rgb(255,0,0);
}

ce:nth-last-child(10n) {
  color: rgb(255,0,0);
}

de:nth-child(10n-1) {
  color: rgb(255,0,0);
}

ee:nth-last-child(10n-2) {
  color: rgb(255,0,0);
}

fe:nth-last-child(10n-10) {
  color: rgb(255,0,0);
}

ge:nth-last-child(odd) {
  color: rgb(255,0,0);
}

he:nth-last-child(-n) {
  color: rgb(255,0,0);
}

ie:nth-last-child(-n) {
  color: rgb(255,0,0);
}

je:nth-child(-n+1) {
  color: rgb(255,0,0);
}

ke:nth-last-child(-n+2) {
  color: rgb(255,0,0);
}

le:nth-last-child(-n+10) {
  color: rgb(255,0,0);
}

me:nth-last-child(-n) {
  color: rgb(255,0,0);
}

ne:nth-child(-n) {
  color: rgb(255,0,0);
}

oe:nth-last-child(-n-1) {
  color: rgb(255,0,0);
}

pe:nth-child(-n-2) {
  color: rgb(255,0,0);
}

qe:nth-last-child(-n-10) {
  color: rgb(255,0,0);
}

re:nth-child(0) {
  color: rgb(255,0,0);
}

se:nth-last-child(0) {
  color: rgb(255,0,0);
}

te:nth-child(0) {
  color: rgb(255,0,0);
}

ue:first-child {
  color: rgb(255,0,0);
}

ve:nth-last-child(2) {
  color: rgb(255,0,0);
}

we:nth-last-child(10) {
  color: rgb(255,0,0);
}

xe:nth-last-child(0) {
  color: rgb(255,0,0);
}

ye:nth-last-child(0) {
  color: rgb(255,0,0);
}

ze:nth-last-child(-1) {
  color: rgb(255,0,0);
}

af:nth-last-child(-2) {
  color: rgb(255,0,0);
}

bf:nth-child(-10) {
  color: rgb(255,0,0);
}

cf:nth-child(-1) {
  color: rgb(255,0,0);
}

df:nth-child(-n) {
  color: rgb(255,0,0);
}

ef:nth-last-child(-n) {
  color: rgb(255,0,0);
}

ff:nth-child(-n+1) {
  color: rgb(255,0,0);
}

gf:nth-last-child(-n+2) {
  color: rgb(255,0,0);
}

hf:nth-last-child(-n+10) {
  color: rgb(255,0,0);
}

if:nth-child(-n) {
  color: rgb(255,0,0);
}

jf:nth-last-child(-n) {
  color: rgb(255,0,0);
}

kf:nth-child(-n-1) {
  color: rgb(255,0,0);
}

lf:nth-child(-n-2) {
  color: rgb(255,0,0);
}

mf:nth-last-child(-n-10) {
  color: rgb(255,0,0);
}

nf:nth-last-child(-2) {
  color: rgb(255,0,0);
}

of:nth-child(-2n) {
  color: rgb(255,0,0);
}

pf:nth-child(-2n) {
  color: rgb(255,0,0);
}

qf:nth-child(-2n+1) {
  color: rgb(255,0,0);
}

rf:nth-child(-2n+2) {
  color: rgb(255,0,0);
}

sf:nth-last-child(-2n+10) {
  color: rgb(255,0,0);
}

tf:nth-child(-2n) {
  color: rgb(255,0,0);
}

uf:nth-child(-2n) {
  color: rgb(255,0,0);
}

vf:nth-last-child(-2n-1) {
  color: rgb(255,0,0);
}

wf:nth-last-child(-2n-2) {
  color: rgb(255,0,0);
}

xf:nth-child(-2n-10) {
  color: rgb(255,0,0);
}

yf:nth-child(-10) {
  color: rgb(255,0,0);
}

zf:nth-child(-10n) {
  color: rgb(255,0,0);
}

ag:nth-child(-10n) {
  color: rgb(255,0,0);
}

bg:nth-last-child(-10n+1) {
  color: rgb(255,0,0);
}

cg:nth-child(-10n+2) {
  color: rgb(255,0,0);
}

dg:nth-last-child(-10n+10) {
  color: rgb(255,0,0);
}

eg:nth-last-child(-10n) {
  color: rgb(255,0,0);
}

fg:nth-last-child(-10n) {
  color: rgb(255,0,0);
}

gg:nth-last-child(-10n-1) {
  color: rgb(255,0,0);
}

hg:nth-child(-10n-2) {
  color: rgb(255,0,0);
}

ig:nth-child(-10n-10) {
  color: rgb(255,0,0);
}
