a {
  -gtk-outline-bottom-left-radius: initial;
  -gtk-outline-bottom-right-radius: initial;
  -gtk-outline-top-left-radius: initial;
  -gtk-outline-top-right-radius: initial;
}

b {
  -gtk-outline-bottom-left-radius: inherit;
  -gtk-outline-bottom-right-radius: inherit;
  -gtk-outline-top-left-radius: inherit;
  -gtk-outline-top-right-radius: inherit;
}

c {
  -gtk-outline-bottom-left-radius: unset;
  -gtk-outline-bottom-right-radius: unset;
  -gtk-outline-top-left-radius: unset;
  -gtk-outline-top-right-radius: unset;
}

d {
  -gtk-outline-bottom-left-radius: 0;
  -gtk-outline-bottom-right-radius: 0;
  -gtk-outline-top-left-radius: 0;
  -gtk-outline-top-right-radius: 0;
}

e {
  -gtk-outline-bottom-left-radius: 5px;
  -gtk-outline-bottom-right-radius: 5px;
  -gtk-outline-top-left-radius: 5px;
  -gtk-outline-top-right-radius: 5px;
}

f {
  -gtk-outline-bottom-left-radius: 50%;
  -gtk-outline-bottom-right-radius: 50%;
  -gtk-outline-top-left-radius: 50%;
  -gtk-outline-top-right-radius: 50%;
}

g {
  -gtk-outline-bottom-left-radius: 5px 6px;
  -gtk-outline-bottom-right-radius: 5px 6px;
  -gtk-outline-top-left-radius: 5px 6px;
  -gtk-outline-top-right-radius: 5px 6px;
}

h {
  -gtk-outline-bottom-left-radius: 5px 20%;
  -gtk-outline-bottom-right-radius: 5px 20%;
  -gtk-outline-top-left-radius: 5px 20%;
  -gtk-outline-top-right-radius: 5px 20%;
}

i {
  -gtk-outline-bottom-left-radius: 10% 20%;
  -gtk-outline-bottom-right-radius: 10% 20%;
  -gtk-outline-top-left-radius: 10% 20%;
  -gtk-outline-top-right-radius: 10% 20%;
}
