a {
  outline-style: initial;
}

b {
  outline-style: inherit;
}

c {
  outline-style: unset;
}

d {
  outline-style: none;
}

e {
  outline-style: solid;
}

f {
  outline-style: inset;
}

g {
  outline-style: outset;
}

h {
  outline-style: hidden;
}

i {
  outline-style: dotted;
}

j {
  outline-style: dashed;
}

k {
  outline-style: double;
}

l {
  outline-style: groove;
}

m {
  outline-style: ridge;
}
