a {
  padding-bottom: initial;
  padding-left: initial;
  padding-right: initial;
  padding-top: initial;
}

b {
  padding-bottom: inherit;
  padding-left: inherit;
  padding-right: inherit;
  padding-top: inherit;
}

c {
  padding-bottom: unset;
  padding-left: unset;
  padding-right: unset;
  padding-top: unset;
}

d {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

e {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
