:nobody-knows-me {
  padding-top: 42px;
}

:nobody-knows-me(really) {
  padding-top: 42px;
}

:a:lot:of:unkwnown:pseudo:classes(some):of(them):with:functions( spaces ) {
  padding-top: 42px;
}

:nth-child {
  padding-top: 42px;
}

:nth-child() {
  padding-top: 42px;
}

x, :unknown-pseudo-classes-invalidate-selectors, y {
  padding-top: 42px;
}
