:active {
  color: red;
}

:hover {
  color: red;
}

:selected {
  color: red;
}

:disabled {
  color: red;
}

:indeterminate {
  color: red;
}

:focus {
  color: red;
}

:backdrop {
  color: red;
}

:dir(ltr) {
  color: red;
}

:dir(rtl) {
  color: red;
}

:link {
  color: red;
}

:visited {
  color: red;
}

:checked {
  color: red;
}

:drop(active) {
  color: red;
}

:root {
  color: red;
}
