:active {
  color: rgb(255,0,0);
}

:hover {
  color: rgb(255,0,0);
}

:hover {
  color: rgb(255,0,0);
}

:selected {
  color: rgb(255,0,0);
}

:insensitive {
  color: rgb(255,0,0);
}

:inconsistent {
  color: rgb(255,0,0);
}

:focus {
  color: rgb(255,0,0);
}

:focus {
  color: rgb(255,0,0);
}

:backdrop {
  color: rgb(255,0,0);
}

:dir(ltr) {
  color: rgb(255,0,0);
}

:dir(rtl) {
  color: rgb(255,0,0);
}

:link {
  color: rgb(255,0,0);
}

:visited {
  color: rgb(255,0,0);
}

:checked {
  color: rgb(255,0,0);
}
