a {
  box-shadow: 0.25pt -1em 1em 0.25pt rgba(255,127,0.0,0.5);
}

b {
  box-shadow: green 0 0.25pt;
}

c {
  box-shadow: currentColor 3px 0.25pt 0.125pt -1em inset;
}

d {
  box-shadow: rgba(255,127,0.0,0.5) -1em -1em 0.125pt 0 inset;
}

e {
  box-shadow: 3px 0.25pt rgba(255,127,0.0,0.5);
}

f {
  box-shadow: inset currentColor 0 0 1em;
}

g {
  box-shadow: green 3px -1em;
}

h {
  box-shadow: inset 0.25pt 0 0.125pt -1em;
}

i {
  box-shadow: inset 0.25pt 3px currentColor;
}

j {
  box-shadow: rgba(255,127,0.0,0.5) 0 3px 3px;
}

k {
  box-shadow: green 0 -1em 3px;
}

l {
  box-shadow: green 0 -1em 0.125pt 0;
}

m {
  box-shadow: 0.25pt -1em 1em 0 green;
}

n {
  box-shadow: green 0.25pt 0.25pt 3px;
}

o {
  box-shadow: currentColor 3px -1em 0.125pt inset;
}

p {
  box-shadow: 0 3px inset;
}

q {
  box-shadow: 3px 0.25pt 0 inset;
}

r {
  box-shadow: inset 3px -1em 3px 0.25pt currentColor;
}

s {
  box-shadow: inset -1em -1em currentColor;
}

t {
  box-shadow: -1em 0 0 alpha(@bg_color, 0.5);
}

u {
  box-shadow: rgba(255,127,0.0,0.5) -1em 0.25pt 0.125pt -1em;
}

v {
  box-shadow: green -1em 0.25pt 1em 0.25pt;
}

w {
  box-shadow: inset currentColor 0.25pt -1em 0;
}

x {
  box-shadow: rgba(255,127,0.0,0.5) 3px 3px;
}

y {
  box-shadow: inset green 0 -1em 3px;
}

z {
  box-shadow: rgba(255,127,0.0,0.5) 0 3px 1em;
}

ab {
  box-shadow: inset rgba(255,127,0.0,0.5) 0 3px 0;
}

bb {
  box-shadow: green 0.25pt 0 inset;
}

cb {
  box-shadow: 0 0;
}

db {
  box-shadow: green 0 -1em;
}

eb {
  box-shadow: -1em 0 3px -1em green;
}

fb {
  box-shadow: currentColor 3px 3px 3px 0.25pt;
}

gb {
  box-shadow: inset 3px 0.25pt 0 rgba(255,127,0.0,0.5);
}

hb {
  box-shadow: 0.25pt -1em 3px -1em green;
}

ib {
  box-shadow: -1em 0.25pt;
}

jb {
  box-shadow: 3px -1em green;
}

kb {
  box-shadow: inset 0.25pt 0.25pt 3px 0.25pt alpha(@bg_color, 0.5);
}

lb {
  box-shadow: inset currentColor 3px -1em;
}

mb {
  box-shadow: -1em 0.25pt 0 alpha(@bg_color, 0.5);
}

nb {
  box-shadow: currentColor -1em 0 0 -1em inset;
}

ob {
  box-shadow: green -1em 3px inset;
}

pb {
  box-shadow: currentColor 0.25pt 0 0.125pt;
}

qb {
  box-shadow: -1em 0.25pt green inset;
}

rb {
  box-shadow: inset 0.25pt 3px 1em alpha(@bg_color, 0.5);
}

sb {
  box-shadow: inset rgba(255,127,0.0,0.5) 0.25pt 0 1em;
}

tb {
  box-shadow: inset -1em -1em 1em green;
}

ub {
  box-shadow: inset 0.25pt 3px 0.125pt green;
}

vb {
  box-shadow: 3px 0 0 0.25pt alpha(@bg_color, 0.5) inset;
}

wb {
  box-shadow: rgba(255,127,0.0,0.5) 3px -1em 1em inset;
}

xb {
  box-shadow: currentColor 3px 0.25pt 3px 0.25pt;
}

yb {
  box-shadow: inset 0.25pt 3px 1em -1em;
}

zb {
  box-shadow: rgba(255,127,0.0,0.5) -1em 0 0 0 inset;
}

ac {
  box-shadow: 0.25pt -1em 3px -1em;
}

bc {
  box-shadow: -1em 0;
}

cc {
  box-shadow: inset -1em 3px 0 -1em;
}

dc {
  box-shadow: 0 -1em 3px green;
}

ec {
  box-shadow: rgba(255,127,0.0,0.5) 0.25pt -1em 0 inset;
}

fc {
  box-shadow: inset -1em 3px 0.125pt green;
}

gc {
  box-shadow: green 0 0;
}

hc {
  box-shadow: inset alpha(@bg_color, 0.5) 0.25pt 0.25pt 0 -1em;
}

ic {
  box-shadow: -1em 0 green;
}

jc {
  box-shadow: inset 0 -1em 3px;
}

kc {
  box-shadow: -1em 0.25pt 1em green;
}

lc {
  box-shadow: -1em 3px 1em rgba(255,127,0.0,0.5) inset;
}

mc {
  box-shadow: green -1em 0.25pt 3px 0;
}

nc {
  box-shadow: rgba(255,127,0.0,0.5) 3px 0.25pt 0.125pt 0.25pt;
}

oc {
  box-shadow: -1em 0.25pt 1em rgba(255,127,0.0,0.5) inset;
}

pc {
  box-shadow: 3px -1em inset;
}

qc {
  box-shadow: rgba(255,127,0.0,0.5) 0 -1em inset;
}

rc {
  box-shadow: inset green 0.25pt -1em 0 -1em;
}

sc {
  box-shadow: inset 3px 0.25pt 0;
}

tc {
  box-shadow: inset 3px -1em 0 -1em currentColor;
}

uc {
  box-shadow: currentColor 0.25pt 0;
}

vc {
  box-shadow: inset rgba(255,127,0.0,0.5) 0 -1em;
}

wc {
  box-shadow: inset -1em 0.25pt 0;
}

xc {
  box-shadow: inset 3px 0.25pt 0 -1em currentColor;
}

yc {
  box-shadow: inset 3px 0 green;
}

zc {
  box-shadow: inset -1em -1em;
}

ad {
  box-shadow: 0 -1em 0.125pt -1em alpha(@bg_color, 0.5);
}

bd {
  box-shadow: alpha(@bg_color, 0.5) -1em -1em 0.125pt;
}

cd {
  box-shadow: rgba(255,127,0.0,0.5) 0.25pt 3px inset;
}

dd {
  box-shadow: green 0 3px inset;
}

ed {
  box-shadow: 0.25pt 0 currentColor;
}

fd {
  box-shadow: 3px 0 alpha(@bg_color, 0.5) inset;
}

gd {
  box-shadow: 0.25pt 0 rgba(255,127,0.0,0.5);
}

hd {
  box-shadow: inset rgba(255,127,0.0,0.5) 0.25pt -1em;
}

id {
  box-shadow: green -1em 0 1em 0.25pt inset;
}

jd {
  box-shadow: 0 0.25pt 1em 0 currentColor;
}

kd {
  box-shadow: inset 0.25pt 0 alpha(@bg_color, 0.5);
}

ld {
  box-shadow: 3px 0.25pt 0 0.25pt alpha(@bg_color, 0.5) inset;
}

md {
  box-shadow: -1em -1em 3px 0 rgba(255,127,0.0,0.5) inset;
}

nd {
  box-shadow: inset -1em -1em 1em -1em green;
}

od {
  box-shadow: inset rgba(255,127,0.0,0.5) -1em -1em 0;
}

pd {
  box-shadow: 3px 3px 1em 0.25pt;
}

qd {
  box-shadow: inset 3px 0 currentColor;
}

rd {
  box-shadow: -1em 3px alpha(@bg_color, 0.5);
}

sd {
  box-shadow: inset green -1em -1em;
}

td {
  box-shadow: currentColor 3px 3px inset;
}

ud {
  box-shadow: -1em -1em;
}

vd {
  box-shadow: -1em 0.25pt green inset;
}

