a {
  text-decoration-color: initial;
}

b {
  text-decoration-color: inherit;
}

c {
  text-decoration-color: unset;
}

d {
  text-decoration-color: currentColor;
}

e {
  text-decoration-color: red;
}

f {
  text-decoration-color: transparent;
}

g {
  text-decoration-color: #123;
}
