a {
  text-decoration-style: initial;
}

b {
  text-decoration-style: inherit;
}

c {
  text-decoration-style: unset;
}

d {
  text-decoration-style: solid;
}

e {
  text-decoration-style: double;
}

f {
  text-decoration-style: wavy;
}
