a {
  text-decoration-line: initial;
}

b {
  text-decoration-line: inherit;
}

c {
  text-decoration-line: unset;
}

d {
  text-decoration-line: none;
}

e {
  text-decoration-line: underline;
}

f {
  text-decoration-line: line-through;
}
