a {
  text-shadow: initial;
}

b {
  text-shadow: inherit;
}

c {
  text-shadow: unset;
}

d {
  text-shadow: none;
}

e {
  text-shadow: 0 5em currentcolor;
}

f {
  text-shadow: 5px 3mm rgb(0,0,0);
}
