a {
  text-decoration-color: initial;
}

b {
  text-decoration-color: inherit;
}

c {
  text-decoration-color: unset;
}

d {
  text-decoration-color: currentcolor;
}

e {
  text-decoration-color: rgb(255,0,0);
}

f {
  text-decoration-color: rgba(0,0,0,0);
}

g {
  text-decoration-color: rgb(17,34,51);
}
