a {
  transition-delay: initial;
}

b {
  transition-delay: inherit;
}

c {
  transition-delay: unset;
}

d {
  transition-delay: 0;
}

e {
  transition-delay: 5s;
}

f {
  transition-delay: 0.0050000000000000001s;
}

g {
  transition-delay: 0.0050000000000000001s, 5s;
}
