a {
  transition-property: initial;
}

b {
  transition-property: inherit;
}

c {
  transition-property: unset;
}

d {
  transition-property: all;
}

e {
  transition-property: color;
}

f {
  transition-property: color, background-color;
}
