a {
  transition-duration: initial;
}

b {
  transition-duration: inherit;
}

c {
  transition-duration: unset;
}

d {
  transition-duration: 0s;
}

e {
  transition-duration: 5s;
}

f {
  transition-duration: 5ms;
}

g {
  transition-duration: 5ms, 5s;
}
