a {
  transition-timing-function: initial;
}

b {
  transition-timing-function: inherit;
}

c {
  transition-timing-function: unset;
}

d {
  transition-timing-function: ease;
}

e {
  transition-timing-function: ease, linear, ease-in, ease-out, ease-in-out, step-start, step-end;
}

f {
  transition-timing-function: cubic-bezier(0,0.25,1,2.7);
}

g {
  transition-timing-function: steps(3);
}

h {
  transition-timing-function: steps(5,start);
}

i {
  transition-timing-function: steps(7,end);
}
