* {
  border-bottom-color: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  border-bottom-width: inherit;
  border-image-repeat: inherit;
  border-image-slice: inherit;
  border-image-source: inherit;
  border-image-width: inherit;
  border-left-color: inherit;
  border-left-width: inherit;
  border-right-color: inherit;
  border-right-width: inherit;
  border-top-color: inherit;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-top-width: inherit;
  font-family: inherit;
  font-size: inherit;
  font-stretch: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  margin-bottom: inherit;
  margin-left: inherit;
  margin-right: inherit;
  margin-top: inherit;
  padding-bottom: inherit;
  padding-left: inherit;
  padding-right: inherit;
  padding-top: inherit;
}
