* {
  background-clip: none;
  background-color: none;
    background-image: none;
  background-origin: none;
  background-repeat: none;
  border-bottom-color: none;
  border-bottom-left-radius: none;
  border-bottom-right-radius: none;
    border-bottom-style: none;
  border-bottom-width: none;
  border-image-repeat: none;
  border-image-slice: none;
    border-image-source: none;
  border-image-width: none;
  border-left-color: none;
    border-left-style: none;
  border-left-width: none;
  border-right-color: none;
    border-right-style: none;
  border-right-width: none;
  border-top-color: none;
  border-top-left-radius: none;
  border-top-right-radius: none;
    border-top-style: none;
  border-top-width: none;
    box-shadow: none;
  color: none;
    engine: none;
    font-family: none;
  font-size: none;
  font-style: none;
  font-variant: none;
  font-weight: none;
    icon-shadow: none;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  margin-top: none;
  padding-bottom: none;
  padding-left: none;
  padding-right: none;
  padding-top: none;
    text-shadow: none;
}
