* {
  background-clip: inherit;
  background-color: inherit;
  background-image: inherit;
  background-origin: inherit;
  background-repeat: inherit;
  border-bottom-color: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  border-bottom-style: inherit;
  border-bottom-width: inherit;
  border-image-repeat: inherit;
  border-image-slice: inherit;
  border-image-source: inherit;
  border-image-width: inherit;
  border-left-color: inherit;
  border-left-style: inherit;
  border-left-width: inherit;
  border-right-color: inherit;
  border-right-style: inherit;
  border-right-width: inherit;
  border-top-color: inherit;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-top-style: inherit;
  border-top-width: inherit;
  box-shadow: inherit;
  color: inherit;
  engine: inherit;
  font-family: inherit;
  font-size: inherit;
  font-stretch: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  icon-shadow: inherit;
  margin-bottom: inherit;
  margin-left: inherit;
  margin-right: inherit;
  margin-top: inherit;
  padding-bottom: inherit;
  padding-left: inherit;
  padding-right: inherit;
  padding-top: inherit;
  text-shadow: inherit;
}
