/*
Error: Invalid CSS after "}": expected "}", was ""
        on line 3482 of _common.scss
        from line 5 of ./gtk-contained-dark.scss

3477: 
3478:   &.right {
3479:     @include undershoot(right);
3480:   }
3481: }

Backtrace:
_common.scss:3482
./gtk-contained-dark.scss:5
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/scss/parser.rb:1162:in `expected'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/scss/parser.rb:1098:in `expected'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/scss/parser.rb:1093:in `tok!'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/scss/parser.rb:640:in `block'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/scss/parser.rb:632:in `ruleset'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/scss/parser.rb:657:in `block_child'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/scss/parser.rb:650:in `block_contents'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/scss/parser.rb:117:in `stylesheet'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/scss/parser.rb:42:in `parse'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/engine.rb:403:in `_to_tree'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/engine.rb:309:in `to_tree'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:324:in `block in visit_import'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/stack.rb:88:in `block in with_import'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/stack.rb:88:in `with_import'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `map'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/tree/root_node.rb:20:in `render'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/engine.rb:278:in `render'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `each'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/home/lapo/.gem/ruby/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:328:in `block in watch'
/home/lapo/.gem/ruby/gems/sass-3.4.18/vendor/listen/lib/listen/listener.rb:252:in `call'
/home/lapo/.gem/ruby/gems/sass-3.4.18/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/home/lapo/.gem/ruby/gems/sass-3.4.18/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/home/lapo/.gem/ruby/gems/sass-3.4.18/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/home/lapo/.gem/ruby/gems/sass-3.4.18/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/home/lapo/.gem/ruby/gems/sass-3.4.18/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"}\": expected \"}\", was \"\"\A         on line 3482 of _common.scss\A         from line 5 of ./gtk-contained-dark.scss\A \A 3477: \A 3478:   &.right {\A 3479:     @include undershoot(right);\A 3480:   }\A 3481: }"; }
