// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant


$base_color: if($variant =='light', #ffffff, #292929);
$bg_color: if($variant =='light', #ededed, #393f3f);
$fg_color: if($variant =='light', #2e3436, #eeeeec);

$selected_fg_color: #ffffff;
$selected_bg_color: if($variant =='light', #4a90d9, darken(#4a90d9,20%));
$selected_borders_color: if($variant == 'light', darken($selected_bg_color, 30%), darken($selected_bg_color,20%));
                         // FIXME dark variant color
$borders_color: if($variant =='light', darken($bg_color,30%), darken($bg_color,12%));
$borders_edge: if($variant =='light', white, transparentize($fg_color, 0.9));
$link_color: darken($selected_bg_color,10%);
$top_hilight: if($variant =='light', white, transparentize($fg_color, 0.9));

$warning_color: #f57900;
$error_color: #cc0000;
$success_color: if($variant =='light', #73d216, darken(#73d216,10%));
$destructive_color: if($variant =='light', #ef2929, darken(#ef2929,10%));

$osd_fg_color: #eeeeec;
$osd_bg_color: #2e3436;
$osd_borders_color: transparentize(black, 0.3);
$osd_outer_borders_color: transparentize(white, 0.9);

//insensitive state derived colors
$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: $borders_color;

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: if($variant =='light', darken($base_color,1%), lighten($base_color,1%));
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 80%);
$backdrop_insensitive_color: if($variant =='light', darken($backdrop_bg_color,15%), lighten($backdrop_bg_color,15%));
$backdrop_borders_color: mix($borders_color, $bg_color, 90%);
$backdrop_dark_fill: mix($backdrop_borders_color,$backdrop_bg_color, 35%);


//apps rely on some named colors to be exported
/* GTK NAMED COLORS */
// Sass thinks we're using the colors in the variables as strings and may shoot
// warning, it's innocuous and can be defeated by using "" + $var
@define-color theme_fg_color #{$fg_color};
@define-color theme_bg_color #{$bg_color};
@define-color theme_base_color #{"" + $base_color};
@define-color theme_selected_bg_color #{$selected_bg_color};
@define-color theme_selected_fg_color #{"" + $selected_fg_color};
@define-color insensitive_bg_color #{$insensitive_bg_color};
@define-color insensitive_fg_color #{$insensitive_fg_color};
@define-color insensitive_base_color #{"" + $base_color};
@define-color theme_unfocused_fg_color #{$backdrop_fg_color};
@define-color theme_unfocused_bg_color #{$backdrop_bg_color};
@define-color theme_unfocused_base_color #{$backdrop_base_color};
@define-color theme_unfocused_selected_bg_color #{$selected_bg_color};
@define-color theme_unfocused_selected_fg_color #{"" + $selected_fg_color};
@define-color borders #{$borders_color};
@define-color unfocused_borders #{$backdrop_borders_color};

@define-color warning_color #{$warning_color};
@define-color error_color #{$error_color};
@define-color success_color #{$success_color};
//@define-color desctructive_color #{$destructive_color}

//WM

$_wm_highlight: if($variant=='light', $top_hilight,  // Sass gets mad if this is
                  transparentize(black,1));          // done directly in the
                                                     // color definition

@define-color wm_title shade(#{$fg_color}, 1.8);
@define-color wm_unfocused_title #{$backdrop_fg_color};
@define-color wm_highlight #{"" + $_wm_highlight};
@define-color wm_borders_edge #{"" + $borders_edge};

@define-color wm_bg_a shade(#{$bg_color}, 1.2);
@define-color wm_bg_b #{$bg_color};

@define-color wm_shadow alpha(black, 0.35);
@define-color wm_border alpha(black, 0.18);

@define-color wm_button_hover_color_a shade(#{$bg_color}, 1.3);
@define-color wm_button_hover_color_b #{$bg_color};
@define-color wm_button_active_color_a shade(#{$bg_color}, 0.85);
@define-color wm_button_active_color_b shade(#{$bg_color}, 0.89);
@define-color wm_button_active_color_c shade(#{$bg_color}, 0.9);

//FIXME this is really an API

@define-color content_view_bg #{"" + $base_color};

