// Drawing mixins

// generic drawing of more complex things

@function widget_edge($c:$borders_edge) {
  // outer highlight "used" on most widgets
  @return 0 1px $c;
}

@mixin _shadows($shadow1, $shadow2:none, $shadow3:none, $shadow4:none) {
//
// Helper function to stack up to 4 box-shadows;
//
  @if $shadow4!=none { box-shadow: $shadow1, $shadow2, $shadow3, $shadow4; }
  @else if $shadow3!=none { box-shadow: $shadow1, $shadow2, $shadow3; }
  @else if $shadow2!=none { box-shadow: $shadow1, $shadow2; }
  @else { box-shadow: $shadow1; }
}

// entries

@function entry_gradient($c) {
  @return linear-gradient(to bottom, darken($c,3%), $c 90%);
}

@mixin entry($t, $fc:$selected_bg_color, $edge: $borders_edge) {
//
// Entries drawing function
//
// $t: entry type
// $fc: focus color
// $edge: set to none to not draw the bottom edge or specify a color to not
//        use the default one
//
// possible $t values:
// normal, focus, insensitive, backdrop, backdrop-insensitive;
//
  background-color: transparent;
  background-image: entry_gradient($base_color);
  $_blank_edge: if($edge == none, none, 0 1px transparentize($edge,1));
  $_entry_edge: if($edge == none, none, widget_edge($edge));
  $_inner_shadows: inset 0 3px mix(black, $base_color, 3%),
                   inset 0 1px mix(black, $base_color, 18%);
  @if $variant == 'dark' {
    $_inner_shadows: inset 0 3px mix(black, $base_color, 20%),
                     inset 0 1px mix(black, $base_color, 35%);
  }

  // we need to match the same shadow types (inset/outset) in various states
  // hence transparent shadows istead of resetting them when not needed
  $_blank_inner_shadows: inset 0 2px transparentize(mix(black, $base_color, 5%),1),
                         inset 0 1px transparentize(mix(black, $base_color, 18%),1);
  $_focus_glow_color: if($variant=='light', transparentize($fc,0.85),
                                            transparentize($fc,0.3));

  @if $t==normal {
    border-color: $borders_color;
    @include _shadows($_inner_shadows,
                      inset 0 0 0 1px transparentize($fc,1),
                      $_entry_edge);
    // the second transparent shadow is needed for the transition to work
  }
  @if $t==focus {
    @include _shadows($_inner_shadows,
                      inset 0 0 0 1px $_focus_glow_color,
                      $_entry_edge);
    @if $variant == 'light' { border-color: $fc; }
    @else {
      border-color: if($fc==$selected_bg_color,
                       $selected_borders_color,
                       darken($fc,35%));
    }
  }
  @if $t==insensitive {
    color: $insensitive_fg_color;
    border-color: $borders_color;
    background-image: linear-gradient(to bottom, $insensitive_bg_color);
    @include _shadows($_blank_inner_shadows, $_entry_edge);

  }
  @if $t==backdrop {
    color: $backdrop_fg_color;
    border-color: $backdrop_borders_color;
    background-image: linear-gradient(to bottom, $backdrop_base_color);
    @include _shadows($_blank_inner_shadows, $_blank_edge);
  }
  @if $t==backdrop-insensitive {
    color: $backdrop_insensitive_color;
    border-color: $backdrop_borders_color;
    background-image: linear-gradient(to bottom, $insensitive_bg_color);
    @include _shadows($_blank_inner_shadows, $_blank_edge);
  }
}

// buttons

@function _border_color ($c) { @return darken($c,25%); } // colored buttons want the
                                                         // border form the base color

@function _text_shadow_color ($tc:$fg_color, $bg:$bg_color) {
//
// calculate the color of text shadows
//
// $tc is the text color
// $bg is the background color
//
  $_lbg: lightness($bg)/100%;
  @if lightness($tc)<50% { @return transparentize(white,1-$_lbg/($_lbg*1.3)); }
  @else { @return transparentize(black,$_lbg*0.8); }
}

@mixin _button_text_shadow ($tc:$fg_color, $bg:$bg_color) {
//
// helper function for the text emboss effect
//
// $tc is the optional text color, not the shadow color
//
// TODO: this functions needs a way to deal with special cases
//

  $_shadow: _text_shadow_color($tc, $bg);

  @if lightness($tc)<50% {
    text-shadow: 0 1px $_shadow;
    icon-shadow: 0 1px $_shadow;
  }
  @else {
    text-shadow: 0 -1px $_shadow;
    icon-shadow: 0 -1px $_shadow;
  }
}

@mixin button($t, $c:$bg_color, $tc:$fg_color, $noedge:false) {
//
// Button drawing function
//
// $t:  button type,
// $c:  base button color for colored* types
// $tc: optional text color for colored* types
// $noedge: set to true not to draw the bottom edge hilight
//
// possible $t values:
// normal, hover, active, insensitive, insensitive-active,
// backdrop, backdrop-active, backdrop-insensitive, backdrop-insensitive-active,
// osd, osd-hover, osd-active, osd-insensitive, osd-backdrop, undecorated
//

  $_top_hilight: if(lightness($c)> 70%, white, transparentize(white,0.9)); //not just dark/light but colored buttons

  @if $t==normal {
  //
  // normal button
  //
    color: $tc;
    background-image: linear-gradient(to bottom,
                                  lighten($c,5%),
                                  $c 40%,
                                  darken($c,5%)
                                  );

    @if $c!=$bg_color { border-color: _border_color($c); }
    @else { border-color: $borders_color; }

    @include _button_text_shadow($tc,$c);
    $_outsets: if($noedge, none, widget_edge());
    @include _shadows(inset 0 1px $_top_hilight, $_outsets);
  }

  @else if $t==hover {
  //
  // hovered button
  //
    color: $tc;
    @if $c!=$bg_color { border-color: _border_color($c); }
    @else { border-color: $borders_color; }
    background-image: linear-gradient(to bottom,
                                      lighten($c,14%),
                                      lighten($c,4%) 40%,
                                      $c);

    @include _button_text_shadow($tc,lighten($c,4%));
    $_outsets: if($noedge, none, widget_edge());
    @include _shadows(inset 0 1px $_top_hilight, $_outsets);
  }

  @else if $t==active {
  //
  // pushed button
  //
    color: $tc;
    @if $c!=$bg_color {border-color: _border_color($c); }
    @else { border-color: $borders_color; }
    background-image: linear-gradient(to bottom,
                                      darken($c,9%),
                                      darken($c,5%));
    @include _button_text_shadow($tc,darken($c,10%));
    $_outsets: if($noedge, none, widget_edge());
    @include _shadows(inset 0 1px transparentize(black, 0.93),
                      inset 0 2px 1px -2px transparentize(black,0.4),
                      $_outsets);
  }
  @else if $t==insensitive {
  //
  // insensitive button
  //
    $_bg: if($c!=$bg_color, mix($c,$base_color,85%), $insensitive_bg_color);
    color: if($c!=$bg_color, mix($tc,$_bg,50%), $insensitive_fg_color);
    border-color: if($c!=$bg_color, _border_color($c),
                                    $insensitive_borders_color);
    background-image: linear-gradient(to bottom, $_bg);
    text-shadow: none;
    icon-shadow: none;
    $_outsets: if($noedge, none, widget_edge());
    // white with 0 alpha to avoid an ugly transition, since no color means
    // black with 0 alpha
    @include _shadows(inset 0 1px transparentize(white,1), $_outsets);
    > GtkLabel { color: inherit; }
  }
  @else if $t==insensitive-active {
  //
  // insensitive pushed button
  //
    $_bg: if($c!=$bg_color, mix($c,$base_color,85%), $insensitive_bg_color);
    color: if($c!=$bg_color, mix($tc,$_bg,60%), $insensitive_fg_color);
    $_bc: if($c!=$bg_color, _border_color($c), $insensitive_borders_color);
    border-color: $_bc;
    color: $insensitive_fg_color;
    border-color: $insensitive_borders_color;
    background-image: linear-gradient(to bottom, mix($_bc, $_bg, 10%), $_bg);
    $_outsets: if($noedge, none, widget_edge());
    // white with 0 alpha to avoid an ugly transition, since no color means
    // black with 0 alpha
    @include _shadows(inset 0 1px transparentize(white,1), $_outsets);
    > GtkLabel { color: inherit; }
  }

  @else if $t==backdrop {
  //
  // backdrop button
  //
    @if $c!=$bg_color {
      color: $tc;
      border-color: if($variant=='light',$c,_border_color($c));
    }
    @else {
      color: $backdrop_fg_color;
      border-color: $backdrop_borders_color;
    }

    background-image: linear-gradient(to bottom,
                                      if($c!=bg_color,$c,$backdrop_bg_color));
    text-shadow: none;
    icon-shadow: none;
    @include _shadows(inset 0 1px transparentize(white,1),
                            0 1px transparentize(white,1));
  }

  @else if $t==backdrop-active {
  //
  // backdrop pushed button FIXME no colors here!
  //
    color: $backdrop_fg_color;
    border-color: $backdrop_borders_color;
    background-image: linear-gradient(to bottom, $backdrop_dark_fill);
    box-shadow: inset 0 1px transparentize(white,1),
                0 1px transparentize(white,1);
  }

  @else if $t==backdrop-insensitive {
  //
  // backdrop insensitive button
  //
    //box-shadow: inset 0 1px transparentize(white,1),
    //            0 1px transparentize(white,1);

    $_bg: if($c!=$bg_color, mix($c,$base_color,85%), $insensitive_bg_color);
    color: if($c!=$bg_color, mix($tc,$_bg,35%), $backdrop_insensitive_color);
    border-color: if($c!=$bg_color, _border_color($c), $backdrop_borders_color);
    background-image: linear-gradient(to bottom, $_bg);
    text-shadow: none;
    icon-shadow: none;
    // white with 0 alpha to avoid an ugly transition, since no color means
    // black with 0 alpha
    @include _shadows(inset 0 1px transparentize(white,1),
                            0 1px transparentize(white,1));
    > GtkLabel { color: inherit; }
  }

  @else if $t==backdrop-insensitive-active {
  //
  // backdrop insensitive pushed button
  //
    color: $backdrop_insensitive_color;
    border-color: $backdrop_borders_color;
    background-image: linear-gradient(to bottom,
                        mix($backdrop_borders_color,$insensitive_bg_color, 8%));
    box-shadow: inset 0 1px transparentize(white,1),
                0 1px transparentize(white,1);
    > GtkLabel { color: inherit; }
  }

  @else if $t==osd {
  //
  // normal osd button
  //
    $_bg: if($c!=$bg_color, transparentize($c, 0.5),
                            transparentize($osd_bg_color, 0.3));
    background-color: transparent;
    background-clip: padding-box;
    background-image: linear-gradient(to bottom, $_bg);
    border-color: $osd_borders_color;
    box-shadow: inset 0 -1px transparentize(black, 0.7),
                inset 0 1px transparentize(white, 0.9);
    text-shadow: 0 1px black;
    icon-shadow: 0 1px black;
  }
  @else if $t==osd-hover {
  //
  // active osd button
  //
    $_bg: if($c!=$bg_color, transparentize($c, 0.3),
                            transparentize(lighten($osd_bg_color, 12%), 0.3));
    color: white;
    border-color: $osd_borders_color;
    background-image: linear-gradient(to bottom, $_bg);
    box-shadow: inset 0 -1px transparentize(black, 0.7),
                inset 0 1px transparentize(white, 0.9);
    text-shadow: 0 1px black;
    icon-shadow: 0 1px black;

  }
  @else if $t==osd-active {
  //
  // active osd button
  //
    $_bg: if($c!=$bg_color, $c, $osd_borders_color);
    color: white;
    border-color: $osd_borders_color;
    background-image: linear-gradient(to bottom, $_bg);
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
  }
  @else if $t==osd-insensitive {
  //
  // insensitive osd button
  //
    $_bg: transparentize(mix($insensitive_fg_color,$osd_bg_color,20%),0.3);
    color: $insensitive_fg_color;
    border-color: $osd_borders_color;
    background-image: linear-gradient(to bottom, $_bg);
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
  }
  @else if $t==osd-backdrop {
  //
  // backdrop osd button
  //
    $_bg: if($c!=$bg_color, transparentize($c, 0.5),
                            transparentize($osd_bg_color, 0.3));
    background-image: linear-gradient(to bottom, $_bg);
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
  }
  @else if $t==undecorated {
  //
  // reset
  //
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px transparentize(white,1);
    text-shadow: none;
    icon-shadow: none;
  }
}

@mixin trough($flat:false, $c:$bg_color, $tc:$fg_color, $noedge:false) {
  color: mix($tc,$bg_color,80%);
  @if $flat { background-image: linear-gradient(to bottom,$c); }
  @else {
    background-image: linear-gradient(to bottom,
                                      mix(black,$c,15%) 5%,
                                      mix(black,$c,10%) 20%,
                                      mix(black,$c,10%) 90%,
                                      $c);
  }

  border-color: if($c!=$bg_color, _border_color($c), $border_color);

  @if not($noedge) {
    @if lightness($c) > 60% {
      box-shadow: inset 0 -1px $borders_edge,
                  0 1px $borders_edge;
    }
    @else {
      box-shadow: inset 0 -1px transparentize($borders_edge,0.5),
                  0 1px transparentize($borders_edge,0.5);
    }
  }
  @else { box-shadow: none; }
}

@mixin progressbar_fill($d:horizontal) {
  $dir: if($d==vertical,right,bottom);
  background-image: linear-gradient(to $dir, $selected_bg_color 2px,
                                             lighten($selected_bg_color,6%));
}

@function headerbar_gradient($c) {
  @return linear-gradient(to bottom, lighten($c,4%), $c);
}

@mixin headerbar_fill($c:$bg_color, $hc:$top_hilight) {
  //
  // headerbar fill
  //
  // $c:  base color
  // $hc: top highlight color
  // 
  background-image: headerbar_gradient($c);
  box-shadow: inset 0 -1px mix($borders_color, $c, 30%), // bottom shade
              inset 0 1px $hc; // top highlight

}
