/* some style for the inspector */

.header {
  background: lightgray;
  border: 1px solid gray;
}

.header>* {
  padding: 2px;
  font-weight: bold;
}

.header sort_indicator {
  min-width: 16px;
}

.header>*:not(:last-child) {
  border-right: 1px solid gray;
}

.list .cell {
  font-size: smaller;
  padding: 0 2px;
  min-height: 24px;
}

.list .cell entry,
.list .cell spinbutton,
.list .cell button,
.list .cell combobox {
  min-height: 24px;
  min-width: 0;
}

.list .cell entry,
.list .cell button,
.list .cell combobox {
  padding: 0 4px;
}
