label#aliceblue { color: aliceblue; }
label#antiquewhite { color: antiquewhite; }
label#aqua { color: aqua; }
label#aquamarine { color: aquamarine; }
label#azure { color: azure; }
label#beige { color: beige; }
label#bisque { color: bisque; }
label#black { color: black; }
label#blanchedalmond { color: blanchedalmond; }
label#blue { color: blue; }
label#blueviolet { color: blueviolet; }
label#brown { color: brown; }
label#burlywood { color: burlywood; }
label#cadetblue { color: cadetblue; }
label#chartreuse { color: chartreuse; }
label#chocolate { color: chocolate; }
label#coral { color: coral; }
label#cornflowerblue { color: cornflowerblue; }
label#cornsilk { color: cornsilk; }
label#crimson { color: crimson; }
label#cyan { color: cyan; }
label#darkblue { color: darkblue; }
label#darkcyan { color: darkcyan; }
label#darkgoldenrod { color: darkgoldenrod; }
label#darkgray { color: darkgray; }
label#darkgreen { color: darkgreen; }
label#darkgrey { color: darkgrey; }
label#darkkhaki { color: darkkhaki; }
label#darkmagenta { color: darkmagenta; }
label#darkolivegreen { color: darkolivegreen; }
label#darkorange { color: darkorange; }
label#darkorchid { color: darkorchid; }
label#darkred { color: darkred; }
label#darksalmon { color: darksalmon; }
label#darkseagreen { color: darkseagreen; }
label#darkslateblue { color: darkslateblue; }
label#darkslategray { color: darkslategray; }
label#darkslategrey { color: darkslategrey; }
label#darkturquoise { color: darkturquoise; }
label#darkviolet { color: darkviolet; }
label#deeppink { color: deeppink; }
label#deepskyblue { color: deepskyblue; }
label#dimgray { color: dimgray; }
label#dimgrey { color: dimgrey; }
label#dodgerblue { color: dodgerblue; }
label#firebrick { color: firebrick; }
label#floralwhite { color: floralwhite; }
label#forestgreen { color: forestgreen; }
label#fuchsia { color: fuchsia; }
label#gainsboro { color: gainsboro; }
label#ghostwhite { color: ghostwhite; }
label#gold { color: gold; }
label#goldenrod { color: goldenrod; }
label#gray { color: gray; }
label#green { color: green; }
label#greenyellow { color: greenyellow; }
label#grey { color: grey; }
label#honeydew { color: honeydew; }
label#hotpink { color: hotpink; }
label#indianred { color: indianred; }
label#indigo { color: indigo; }
label#ivory { color: ivory; }
label#khaki { color: khaki; }
label#lavender { color: lavender; }
label#lavenderblush { color: lavenderblush; }
label#lawngreen { color: lawngreen; }
label#lemonchiffon { color: lemonchiffon; }
label#lightblue { color: lightblue; }
label#lightcoral { color: lightcoral; }
label#lightcyan { color: lightcyan; }
label#lightgoldenrodyellow { color: lightgoldenrodyellow; }
label#lightgray { color: lightgray; }
label#lightgreen { color: lightgreen; }
label#lightgrey { color: lightgrey; }
label#lightpink { color: lightpink; }
label#lightsalmon { color: lightsalmon; }
label#lightseagreen { color: lightseagreen; }
label#lightskyblue { color: lightskyblue; }
label#lightslategray { color: lightslategray; }
label#lightslategrey { color: lightslategrey; }
label#lightsteelblue { color: lightsteelblue; }
label#lightyellow { color: lightyellow; }
label#lime { color: lime; }
label#limegreen { color: limegreen; }
label#linen { color: linen; }
label#magenta { color: magenta; }
label#maroon { color: maroon; }
label#mediumaquamarine { color: mediumaquamarine; }
label#mediumblue { color: mediumblue; }
label#mediumorchid { color: mediumorchid; }
label#mediumpurple { color: mediumpurple; }
label#mediumseagreen { color: mediumseagreen; }
label#mediumslateblue { color: mediumslateblue; }
label#mediumspringgreen { color: mediumspringgreen; }
label#mediumturquoise { color: mediumturquoise; }
label#mediumvioletred { color: mediumvioletred; }
label#midnightblue { color: midnightblue; }
label#mintcream { color: mintcream; }
label#mistyrose { color: mistyrose; }
label#moccasin { color: moccasin; }
label#navajowhite { color: navajowhite; }
label#navy { color: navy; }
label#oldlace { color: oldlace; }
label#olive { color: olive; }
label#olivedrab { color: olivedrab; }
label#orange { color: orange; }
label#orangered { color: orangered; }
label#orchid { color: orchid; }
label#palegoldenrod { color: palegoldenrod; }
label#palegreen { color: palegreen; }
label#paleturquoise { color: paleturquoise; }
label#palevioletred { color: palevioletred; }
label#papayawhip { color: papayawhip; }
label#peachpuff { color: peachpuff; }
label#peru { color: peru; }
label#pink { color: pink; }
label#plum { color: plum; }
label#powderblue { color: powderblue; }
label#purple { color: purple; }
label#rebeccapurple { color: rebeccapurple; }
label#red { color: red; }
label#rosybrown { color: rosybrown; }
label#royalblue { color: royalblue; }
label#saddlebrown { color: saddlebrown; }
label#salmon { color: salmon; }
label#sandybrown { color: sandybrown; }
label#seagreen { color: seagreen; }
label#seashell { color: seashell; }
label#sienna { color: sienna; }
label#silver { color: silver; }
label#skyblue { color: skyblue; }
label#slateblue { color: slateblue; }
label#slategray { color: slategray; }
label#slategrey { color: slategrey; }
label#snow { color: snow; }
label#springgreen { color: springgreen; }
label#steelblue { color: steelblue; }
label#tan { color: tan; }
label#teal { color: teal; }
label#thistle { color: thistle; }
label#tomato { color: tomato; }
label#turquoise { color: turquoise; }
label#violet { color: violet; }
label#wheat { color: wheat; }
label#white { color: white; }
label#whitesmoke { color: whitesmoke; }
label#yellow { color: yellow; }
label#yellowgreen { color: yellowgreen; }
